// Main SCSS file for the Digital Summit 2020 site
@import "variables/_variables";

body {
  background-color: transparent;
  @import "base/_base";
  @import "layouts/_layouts";
}

html {
  background: url('background-body.jpg') no-repeat center center fixed;
  background-color: $pale-yellow;
  background-blend-mode: overlay;
  background-size: cover;
}
