<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__keynote">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/michael-pezzullo.jpg" alt="Michael Pezzullo" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Michael Pezzullo AO</h3>
        <p class="visually-hidden">Keynote</p>
        <p class="ds-cards__card-intro">Secretary, Department of Home Affairs</p>
        <p class="ds-cards__card-text">Michael was appointed Secretary of Immigration and Border Protection in October 2014, and became Secretary of the Department of Home Affairs in December 2017. He has worked in various departments
          in the APS. He first joined the Department of Defence in a variety of strategic policy and intelligence positions.
          He later transferred to the Department of Prime Minister and Cabinet, where he worked in the International Division,
          and then served as staff for prominent ministers in Parliament. He re-joined the Department of Defence in 2002
          as Deputy Secretary of Strategy and led the development of the 2009 Defence White Paper. In 2009 he joined the
          Australian Customs and Border Protection Service, and later became CEO. He was responsible for offshore maritime
          security, border-related intelligence, national security and law enforcement programmes, integrity and professional
          standards, and corporate operations.</p>
      </div>
    </div>
  </div>
</div>
