<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__keynote">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/michael-pezzullo.jpg" alt="Michael Pezzullo" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Michael Pezzullo AO</h3>
        <p class="visually-hidden">Keynote</p>
        <p class="ds-cards__card-intro">Secretary, Department of Home Affairs</p>
        <p class="ds-cards__card-text">Michael was appointed Secretary of Immigration and Border Protection in October 2014, and became Secretary of the
          Department of Home Affairs in December 2017. He has worked in various departments in the APS. He first joined the
          Department of Defence in a variety of strategic policy and intelligence positions. He later transferred to the
          Department of Prime Minister and Cabinet, where he worked in the International Division, and then served as staff
          for prominent ministers in Parliament. He re-joined the Department of Defence in 2002 as Deputy Secretary of Strategy
          and led the development of the 2009 Defence White Paper. In 2009 he joined the Australian Customs and Border Protection
          Service, and later became CEO. He was responsible for offshore maritime security, border-related intelligence,
          national security and law enforcement programmes, integrity and professional standards, and corporate operations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Redefining digital: identity and data management and security</h4>
          <p>The volume, sensitivity and value of data held by the Australian Government and industry &ndash; including critical
            infrastructure entities &ndash; has increased exponentially over recent years and is likely to continue to grow.
            Our reliance on digital technology has only increased in response to the COVID-19 pandemic. Compromises of sensitive
            data can cause significant damage to Australia's economy and national security. Australia's recovery from the
            COVID-19 pandemic will be heavily reliant on consumer and investor confidence in the security of the essential
            services that underpin our digital economy. The Australian Government is committed to making Australia a world
            leading digital economy by 2030. It has already delivered the 2020 Cyber Security Strategy and the Digital Business
            Plan &ndash; 2 initiatives that together lay the groundwork for further reforms to make our digital economy secure
            and prosperous. But more needs to be done, we need to reimagine our views on digital leadership, to bring cohesion
            and clarity to the currently fragmented and federated approach to data security policy and data management. There
            is an opportunity to leverage our strong partnership with industry leaders and pursue a collaborative and co-design
            approach to setting conditions for Australia's future data management infrastructure. An opportunity to explore
            ways to accelerate Australia's transition to a fully digital nation with embedded security-by-design as a core
            component.</p>
        </div>
      </div>
    </div>
  </div>
</div>
