// Main SCSS file for the Digital Summit 2020 site
@import "variables/_variables";
@import "base/_base";

body {
  background-color: transparent;
  @import "layouts/_layouts";
}

@include breakpoint(lg) {
  html {
    background: url('background-body.jpg') no-repeat center center fixed;
    background-color: $pale-yellow;
    background-size: cover;
  }
}
