<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.accenture.com/au-en">Accenture</a></h3>
    <p>Accenture is a global professional services company with leading capabilities in digital, cloud and security. Combining unmatched experience and specialised skills across more than 40 industries, Accenture offers strategy and consulting, interactive, technology and operations services &ndash; all powered by the world's largest network of advanced technology and intelligent operations centers.</p>
  </div>
  <div class="col-12 col-md-3">
    <a href="https://www.accenture.com/au-en">
      <img alt="Accenture"
        src="https://digital-summit-2020.apps.y.cld.gov.au/img/accenture.png"
        class="ds-sponsor-img" /> </a>
  </div>
</div>
