<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.accenture.com/au-en">Accenture</a></h3>
    <p>Accenture is a global professional services company, providing a range of services
      in strategy and consulting, interactive technology, and operations, with digital
      capabilities across all these services. They combine experience and capabilities
      across more than 40 industries &ndash; powered by the world's largest network of
      advanced technology and intelligent operations centers. </p>
  </div>
  <div class="col-12 col-md-3">
    <a href="https://www.accenture.com/au-en">
      <img alt="Accenture"
        src="https://digital-summit-2020.apps.y.cld.gov.au/img/accenture.png"
        class="ds-sponsor-img" /> </a>
  </div>
</div>
