<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.adobe.com/au/">Adobe</a></h3>
    <p>Creativity is in our DNA. Our game-changing innovations are redefining the possibilities of digital experiences. We connect
      content and data and introduce new technologies that democratise creativity, shape the next generation of storytelling
      and inspire entirely new categories of business.</p>
  </div>
  <div class="col-12 col-md-3"> <a href="https://www.adobe.com/au/">
      <img alt="Adobe" src="https://digital-summit-2020.apps.y.cld.gov.au/img/adobe.png" class="ds-sponsor-img" /> </a> </div>
</div>
