<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.arq.group/">ARQ</a></h3>
    <p>ARQ Group is a full-service consultancy with data, digital and cloud capabilities. Their innovations have changed the
      way the Australian Government uses technology to enhance human-centred services. Half of the ASX top 20 trust ARQ to
      develop their digital experiences, and they are the name behind many government IT projects. </p>
  </div>
  <div class="col-12 col-md-3"> <a href="https://www.arq.group/">
      <img alt="ARQ" src="https://digital-summit-2020.apps.y.cld.gov.au/img/arq.png" class="ds-sponsor-img" /> </a> </div>
</div>
