<div class="row">
  <div class="col-12">
      <h3><a href="https://www.dragonflytechnologies.com.au/">Dragonfly Technologies</a></h3>
  </div>
</div>
<div class="row">

  <div class="col-12 col-md-9">
    <p>Dragonfly brings cybersecurity, enterprise networking and cutting-edge automation
      together to fill the digital capabilities gap. Dragonfly have shaped the technology
      of some of Australia's largest organisations and is the partner of choice of
      Australia's most security conscious organisations. Telstra has chosen Dragonfly
      as their networking and security automation partner. </p>
  </div>
  <div class="col-12 col-md-3">
    <a href="https://www.dragonflytechnologies.com.au/">
      <img alt="Dragonfly Technologies"
        src="https://digital-summit-2020.apps.y.cld.gov.au/img/Dragonfly%20160x160.png"
        class="ds-sponsor-img" /> </a>
  </div>
</div>
