<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.ibm.com/au-en">IBM</a></h3>
    <p>IBM is a leading cognitive solutions and cloud platform company headquartered in Armonk, NY. IBM leverages the power
      of innovation, data and its expertise to improve business and society. Established in 1911, it is the largest technology
      and consulting employer in the world, with more than 380,000 employees serving clients in 170 countries. With 24 consecutive
      years of patent leadership, IBM Research is the world's largest corporate research organisation with more than 3,000
      researchers in 12 labs across 6 continents. With Watson, the AI platform for business, IBM is building industry-based
      solutions to real-world problems guided by its 'Principles for Transparency and Trust in the Cognitive Era'. IBM has
      a proud 87-year history in Australia. Since 1932 &ndash; the same year as the Sydney Harbour Bridge &ndash; IBM has made significant
      investments to advance Australia's innovation, global competitiveness, and community well-being.</p>
  </div>
  <div class="col-12 col-md-3"> <a href="https://www.ibm.com/au-en">
      <img alt="IBM" src="https://digital-summit-2020.apps.y.cld.gov.au/img/ibm.png" class="ds-sponsor-img" /> </a> </div>
</div>
