<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.microsoft.com/">Microsoft</a></h3>
    <p>Established in 1985, Microsoft Australia is subsidiary of Microsoft Corp. Microsoft is the world leader in software,
      services, devices, and solutions that empower every person and every organisation on the planet to achieve more. Microsoft
      enables digital transformation for the era of an intelligent cloud and an intelligent edge. Headquartered in Sydney,
      Microsoft Australia has 7 regional offices across the country employing over 1,000 people. Woven throughout daily life,
      work or play, Microsoft technologies enable millions of Australian partners and customers to innovate in new ways.
      Our platforms harmonise the interests of our customers, developers, and IT better than any competing ecosystem or platform.
      Microsoft is driven to help anyone make the most of any moment &ndash; to help create a world where people can make the most
      of their time and to lead more fulfilling lives.</p>
  </div>
  <div class="col-12 col-md-3">
    <a href="https://www.microsoft.com/">
      <img alt="Microsoft" src="https://digital-summit-2020.apps.y.cld.gov.au/img/microsoft.png" class="ds-sponsor-img" /> </a>
  </div>
</div>
