<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.pwc.com.au/">PwC Australia</a></h3>
    <p>PwC brings solutions to help deliver services &ndash; from digital strategy and innovation
      to enterprise architecture, and technology change from delivery through to
      testing and quality management to make our businesses thrive. PwC has over
      12,000 technologists globally with over 670 in Australia providing a expertise,
      knowledge, and experience.</p>
  </div>
  <div class="col-12 col-md-3">
    <a href="https://www.pwc.com.au/">
      <img alt="PwC Australia"
        src="https://digital-summit-2020.apps.y.cld.gov.au/img/pwc.png"
        class="ds-sponsor-img" /> </a>
  </div>

</div>
