<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.riministreet.com/">Rimini Street</a></h3>
    <p>Rimini Street is a global provider of enterprise software
      products and services. It is the leading third-party support provider for Oracle
      and SAP software products and a Salesforce partner. Rimini Street offers premium,
      ultra-responsive and integrated application management and support services.
      These services enable enterprise software licensees to save significant costs,
      free up resources for innovation and achieve better business outcomes. Over
      2,100 Fortune 500, Fortune Global 100, midmarket, public sector, and other
      organisations from a broad range of industries rely on Rimini Street as their
      trusted application enterprise software products and services provider.</p>
  </div>
  <div class="col-12 col-md-3">
    <a href="https://www.riministreet.com/">
      <img alt="Rimini St"
        src="https://digital-summit-2020.apps.y.cld.gov.au/img/rimini-st.png"
        class="ds-sponsor-img" /> </a>
  </div>
</div>
