<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.salesforce.com/au/">Salesforce</a></h3>
    <p>Government CRM solutions from Salesforce are revolutionising the capabilities of the public sector. Today's most innovative
      governments are adopting business service models &ndash; citizens expect government to deliver the same high-quality service
      as the private sector. Salesforce helps agencies build stronger connections between citizens, employees, governments,
      services, and information. </p>
  </div>
  <div class="col-12 col-md-3"> <a href="https://www.salesforce.com/au/">
      <img alt="Salesforce"
        src="https://digital-summit-2020.apps.y.cld.gov.au/img/salesforce.png"
        class="ds-sponsor-img" /> </a> </div>
</div>
