<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.sap.com/australia/index.html">SAP Australia</a></h3>
    <p>SAP is a leading provider of enterprise solutions to government and non-profit
      agencies worldwide. SAP is committed to helping governments protect communities,
      serve constituents, and drive economic prosperity. With SAP's enterprise solutions,
      public sector agencies can automate processes, boost performance, decide with
      data, and empower employees with ease and intelligence.</p>
  </div>
  <div class="col-12 col-md-3">
    <a href="https://www.sap.com/australia/index.html">
      <img alt="SAP Australia"
        src="https://digital-summit-2020.apps.y.cld.gov.au/img/sap.png"
        class="ds-sponsor-img" /> </a>
  </div>

</div>
