<div class="row align-items-center">
  <div class="col-12 col-md-9">
    <h3><a href="https://www.telstra.com.au/">Telstra</a></h3>
    <p>COVID-19 has proved we can make and embrace change quickly. During the height of the pandemic we saw a huge acceleration
      in digitisation &ndash; from telehealth to online learning, remote working, and e-commerce &ndash; and the fast-tracking of numerous
      policy and regulatory changes to break down long-standing digital roadblocks. As a nation we have achieved in a few
      months what might have taken us years to progress, and it is important that we now do not lose that momentum. However,
      a single company, a single organization, or a single government can't achieve this on its own. Through coalitions across
      the public and private sectors, we can affect change by removing barriers and incentivising growth, to make it faster
      and more pervasive. As an organisation, Telstra is committed to working with all our stakeholders to map the real ways
      we can put Australia at the forefront of a digital future &ndash; paperless, cashless, and virtual &ndash; so Australia comes out
      stronger.</p>
  </div>
  <div class="col-12 col-md-3"> <a href="https://www.telstra.com.au/">
      <img alt="Telstra" src="https://digital-summit-2020.apps.y.cld.gov.au/img/telstra.png" class="ds-sponsor-img" /> </a>    </div>
</div>
