<div class="is-section is-section-auto is-box ">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid ds-background__white ds-light">
        <div class="row">
          <div class="col-12 ds-sponsors__group">
            <h2>Gold sponsors</h2>
            <div class="row">
              {{> accenture }}
              {{> dragonfly }}
              {{> gitlab}}
              {{> pwc }}
            </div>
            <div class="row"> 
              {{> sap }}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
