<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__on-demand">
    <div class="row">

      <div class="col-12">
        <h3 class="ds-cards__card-title">Adam Miesiwicz</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">ASG Group</p>
        <p class="ds-cards__card-text">Adam is Regional Capability Manager, ACT, and National Capability Manager
          for Security at ASG Group. He has 15 years' experience in the federal government
          and private sectors, working in analytical, liaison, operational and advisory
          roles, as well as with leading private firms. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Cybersecurity &mdash; increasing cyber resilience above and beyond administrative compliance in 2020</h4>
          <p>The session will cover a range of highly relevant security topics for government
            departments. This includes the importance of overarching secure cloud
            and the successful implementation of risk mitigation strategies and focus
            on the issues and complexities involved with successfully passing audits
            and delivering projects and transformations of this nature. The session
            will also more deeply go beyond becoming merely administratively compliant
            and focus on increasing overall cyber resilience.</p>
          <p>A key outcome will be the ability to determine the level of maturity a
            department is at and increasing visibility into their own cyber security
            posture and the strategies involved in developing a roadmap for achieving
            the desired security posture. This approach to remediation involves leveraging
            the ecosystem of people, processes and emerging technologies to gain
            compliance, confidence and resilience along with fusing security into
            the entire department operating model.</p>
          <p>As a partner of the Federal Government's Australian Cyber Security Centre
            (ACSC) and a member of the Defence Industry Security Program (DISP),
            ASG Group is provided with continuous threat intelligence which allows
            us to stay continuously at the leading edge of current security programs
            and best practices.</p>
        </div>
      </div>
    </div>
  </div>
</div>
