<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__on-demand">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/ben-neal.jpg"
            alt="Ben Neal" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Ben Neal</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">PwC</p>
        <p class="ds-cards__card-text">Ben is a Fellow of the Australian Human Resources
          Institute and the UK-based Chartered Institute of Personnel and Development.
          He holds postgraduate HR and business qualifications with more than 20
          years' experience working in government. Before joining PwC, he led the
          corporate and HR functions at the Department of Prime Minister and Cabinet
          and the Department of Immigration. </p>
          <p><strong>Ben is co-presenter for 'The future of work is here'.</strong></p>
      </div>
    </div>
  </div>
</div>
