<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/cecelia-hill.jpg"
            alt="Cecelia Hill" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Cecelia Hill</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Delivery Lead, Deloitte</p>
        <p class="ds-cards__card-text">Cecelia has built and led customer experience (CX) teams in organisations,
          developing an in-depth knowledge of applying design to strategic challenges,
          innovation, CX and product design. She is passionate about helping the
          public sector design and deliver citizen experiences that make interacting
          with government easy, smart, and personalised. </p>
          <p><strong>Cecelia is co-presenter for 'Australia.gov.au &ndash; COVID-19 crisis response'.</strong></p>
      </div>
    </div>
  </div>
</div>
