<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="col-12">
        <h3 class="ds-cards__card-title">Cecelia Hill</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Delivery Lead, Deloitte</p>
        <p class="ds-cards__card-text">Cecilia has built and led customer experience (CX) teams in organisations,
          developing an in-depth knowledge of applying design to strategic challenges,
          innovation, CX and product design. She is passionate about helping the
          public sector design and deliver citizen experiences that make interacting
          with government easy, smart, and personalised. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Australia.gov.au &mdash; COVID-19 crisis response</h4>
          <p>On 17 March, there were 453 confirmed cases of COVID-19 in Australia &mdash;
            more than double what it had been only 3 days earlier. With a national
            emergency on the horizon, the Australian Government needed a communications
            channel to deliver clear and consistent messages.</p>
          <p>The DTA worked closely with PM&amp;C to deliver the communications platform,
            with Deloitte Digital as our primary partner. With a team of over 40
            people working remotely, we leveraged rapid prototyping design methodologies
            and strong cross-agency collaboration to build and launch a new australia.gov.au
            COVID-19 crisis homepage in under 6 hours.</p>
        </div>
      </div>
    </div>
  </div>
</div>
