<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__on-demand">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/dana-robertson.jpg"
            alt="Dana Robertson" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Dana Robertson</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Assistant Secretary, Communications, Department of Prime Minister and Cabinet</p>
        <p class="ds-cards__card-text">Dana is the Assistant Secretary of Communications in the Department of Prime
          Minister and Cabinet. She manages a team working across digital communication,
          media, strategic, corporate, and internal communications, speechwriting,
          and audio-visual production. She was closely involved in establishing Australian
          Government communication and whole-of-government coordination during the
          COVID-19 pandemic. </p>
          <p><strong>Dana is co-presenter for 'Australia.gov.au &ndash; COVID-19 crisis response'.</strong></p>

      </div>
    </div>
  </div>
</div>
