<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__on-demand">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/harold-petersen.jpg"
            alt="Harold Petersen" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Harold Petersen</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Fresh Tracks Digital Consulting</p>
        <p class="ds-cards__card-text">Harold is a management consultant and transformation manager. He specialises
          in ICT strategy and governance, digital strategy, devops, SIAM, P3M, and
          organisational change.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Devops, Lean IT and agile: theory is one thing ... but what about the people?</h4>
          <p>This presentation introduces how the establishment of an organisational
            target capability is a holistic combination of multiple dimensions, and
            how people are a critical enabler. It demonstrates how leadership needs
            to drive the holistic alignment across all dimensions. It provides inspiration,
            insights and ideas on some ways to uplift people's capabilities around
            agile, lean and devops, and online collaboration.</p>
        </div>
      </div>
    </div>
  </div>
</div>
