<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/john-cox.jpg"

            alt="John Cox" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">John Cox</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Executive General Manager &ndash; Transformation &amp; Enablement, Australia
          Post</p>
        <p class="ds-cards__card-text">John is EGM Transformation and Enablement Australia Post. He is responsible
          for evolving Australia Post's Transformation Strategy in the face of sustainability
          pressures and a need to rapidly pivot operations due to COVID-19. His career
          has covered the financial services such as banking, payments, insurance,
          wealth and markets, retail, government services and logistics. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Customer transformation &ndash; putting the customer at the heart of Australia
            Post's digital transformation</h4>
          <p>Australia Post has seen unprecedented parcel volumes throughout the COVID-19
            pandemic, and experienced significant disruption across our operational
            network. They have relied heavily on technology solutions and real-time
            data insights to quickly identify and respond to challenges to make sure
            they continue to meet the needs of their customers and the community.
            </p>
          <p>The pandemic has reinforced the position that the customer experience must
            be at the heart of Australia Post's transformation. They strive to create
            simple and flexible experiences which delight their customers, and this
            principle is shaping their future network design and technology landscape.</p>
        </div>
      </div>
    </div>
  </div>
</div>
