<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__on-demand">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/kerstin-oberprieler.jpg"
            alt="Dr Kerstin Oberprieler" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Dr Kerstin Oberprieler</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Co-Founder and Chief Executive Officer, Pentaquest</p>
        <p class="ds-cards__card-text">Kerstin is a leading gamification expert, having recently completed her PhD
          in gamification. She is a sought-after speaker and presenter in Australia
          and internationally. Before pursuing her passion for gamification, she
          worked as a design thinking consultant for 7 years, with a focus on strategic
          design, user research, and digital design. With her background in psychology
          and commerce, Kerstin has a deep understanding of organisational challenges
          and goals, and how these can be addressed through individual and team motivation.
          She has also spoken on the TEDx stage about the power of gamification.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>How to use behavioural science and digital experience to increase employee engagement and organisational transformation</h4>
          <p>Behavioural science is the scientific revolution of our day. Never before
            has there been such a focus on human behaviour and decision making to
            address the critical challenges we face as a society. This is especially
            true for workplaces, which are experiencing a massive shift in how they
            operate, employee expectations, and digitally enabled collaboration.
            Behavioural sciences offer a new approach to dealing with the complexity
            of the workplace, by focussing in on human behaviour and dynamics. This
            behavioural lens is key to understanding and shifting engagement, performance
            and culture.</p>
        </div>
      </div>
    </div>
  </div>
</div>
