<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/lucy-poole.jpg"
            alt="Lucy Poole" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Lucy Poole</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Digital Taskforce Lead, Digital Transformation Agency (DTA)</p>
        <p class="ds-cards__card-text">Lucy is passionate about driving positive change, delivering measurable outcomes,
          and continually improving government. Lucy leads the Sourcing and Enabling
          Division at the DTA. She focuses on providing whole-of-government strategic
          leadership to make digital procurement simple, clear, and fast.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Australia.gov.au &mdash; COVID-19 crisis response</h4>
          <p>On 17 March, there were 453 confirmed cases of COVID-19 in Australia &mdash;
            more than double what it had been only 3 days earlier. With a national
            emergency on the horizon, the Australian Government needed a communications
            channel to deliver clear and consistent messages.</p>
          <p>The DTA worked closely with PM&C to deliver the communications platform,
            with Deloitte Digital as our primary partner. With a team of over 40
            people working remotely, we leveraged rapid prototyping design methodologies
            and strong cross-agency collaboration to build and launch a new australia.gov.au
            COVID-19 crisis homepage in under 6 hours.</p>
        </div>
      </div>
    </div>
  </div>
</div>
