<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/sarah-coye.jpg" alt="Sarah Coye" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Sarah Coye</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Head of Innovation, Royal Australian Mint</p>
        <p class="ds-cards__card-text">Sarah is Head of Innovation at the Royal Australian Mint. She has worked in the innovation sector for over 14 years.
          Sarah pioneered several Clinical Innovation Programs throughout NSW and applied human-centred design to process-driven
          environments. She has a passion for program evaluation, organisational development and change management, and feels
          most comfortable in an innovation space. She feels privileged to be in by a dynamic organisation that values her
          divergent thinking and trusts her to lead a transdisciplinary team. She is currently leading a newly established
          Innovation Coalition of positive deviants into uncharted territory to tackle problems relating to the COVID-19
          pandemic as it relates to the Mint's daily business. A fan of lifelong learning, Sarah recently
          graduated with a Graduate Certificate in Public Sector Innovation from the University of Technology, Sydney. This
          inspired her to further her academic career at UTS with a Masters of Creating Intelligence and Strategic Innovation.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Innovation throughout a pandemic &ndash; empowering staff through times of adversity</h4>
          <p>COVID-19 changed how we work overnight. One moment Sarah was preparing for her innovation strategic plan, and the
            next it was turned inside-out and flipped on its head.</p>
          <p>Remote engagement is hard, but engagement when staff are a mix of on-site and working-from-home is near impossible.</p>
          <p>Using human-centred design, flexible working practices and good, old fashioned hard work, Sarah created an innovation
            eco-system that allowed the Royal Australian Mint's staff to re-write the future of their organisation.</p>
          <p>Come with Sarah as she walks through the Mint's journey, challenging why it exists, how it might exist in the future,
            and leveraging what makes it unique to catapult us into the future of the Royal Australian Mint. </p>
        </div>
      </div>
    </div>
  </div>
</div>
