<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/sarah-coye.jpg"
            alt="Sarah Coye" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Sarah Coye</h3>
        <p class="visually-hidden">On-demand</p>
        <p class="ds-cards__card-intro">Head of Innovation, Royal Australian Mint</p>
        <p class="ds-cards__card-text">Sarah started her career in the health care sector. As a strong advocate
          for human-centred design, she created models of care that improved patient
          outcomes and experience. She applies these human-centred design and innovation
          frameworks to the APS to encourage disruption by challenging what no longer
          works and making sure the solutions are fit for purpose. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Innovation throughout a pandemic &ndash; empowering staff through times of adversity</h4>
          <p>COVID-19 changed how we work overnight. One moment Sarah was preparing for
            her innovation strategic plan, and the next it was turned inside-out and
            flipped on its head.</p>
          <p>Remote engagement is hard, but engagement when staff are a mix of on-site and
            working-from-home is near impossible.</p>
          <p>Using human-centred design, flexible working practices and good, old fashioned
            hard work, Sarah created an innovation eco-system that allowed the Royal Australian Mint's staff
            to re-write the future of their organisation.</p>
          <p>Come with Sarah as she walks through the Mint's journey, challenging why it exists, how
            it might exist in the future, and leveraging what makes it unique to catapult
            us into the future of the Royal Australian Mint. </p>
        </div>
      </div>
    </div>
  </div>
</div>
