<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__welcome">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/james-ologhlin.jpg" alt="James O'Loghlin" />
        </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 id="james-ologhlin" class="ds-cards__card-title">James O'Loghlin</h3>
        <p class="ds-cards__card-intro">Master of Ceremonies</p>
        <p class="ds-cards__card-text">James is one of Australia's most respected, entertaining and experienced corporate speakers and media personalities. He is best known as the host of over 300 episodes of 'The New Inventors' on ABC, and for his witty and entertaining
          programs on ABC Local Radio.</p>
      </div>
    </div>
  </div>
</div>
