<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/anna-goldfeder.jpg"
            alt="Anna Goldfeder" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Anna Goldfeder</h3>
        <p class="visually-hidden">Case Study</p>
        <p class="ds-cards__card-intro">Cogniss</p>
        <p class="ds-cards__card-text">Anna leads the end-to-end product design, development, and implementation
          of the Cogniss platform. Before she joined Cogniss in 2016, she spent 7
          years designing, building and managing award-winning educational games,
          assessment platforms and core curriculum resources with leading secondary
          publisher Jacaranda (Wiley).</p>
        <p><strong>Anna is co-presenter for 'How human transformation technology is empowering governments and service providers to deliver rapid mobile mental health responses during COVID-19'.</strong></p>
      </div>
    </div>
  </div>
</div>
