<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/craig-cowan.jpg" alt="Craig Cowan" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Craig Cowan</h3>
        <p class="visually-hidden">Case study</p>
        <p class="ds-cards__card-intro">Prouct Manager &ndash; COVIDSafe, Digital Transformation Agency </p>
        <p class="ds-cards__card-text">Craig is the Product Manager for the DTA's COVID-19 Digital Responses including the COVIDSafe App, Coronavirus Australia
          App and the Australian Government's COVID-19 WhatsApp channel. Craig is passionate about delivering user-focussed
          products using agile methods and making sure product management is effective in a government context. Before his
          current role, he was the Product Manager for the Digital Marketplace. The Digital Marketplace has awarded over
          $2.5b in contracts with a strong focus on helping small and medium enterprises to gain government work.</p>
      </div>
    </div>
  </div>
</div>
