<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/deb-anton.jpg"
            alt="Deb Anton" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Deb Anton</h3>
        <p class="visually-hidden">Case study</p>
        <p class="ds-cards__card-intro">Interim National Data Commissioner, Office of the National Data Commissioner, Department of Prime Minister and
          Cabinet (PM&amp;C)</p>
        <p class="ds-cards__card-text">Deb was appointed the Interim National Data Commissioner
          on 9 August 2018. In this role, she has lead the development of reforms
          to improve the use of government data to deliver public benefit. This has
          culminated in the Data Availability and Transparency Bill, which aims to
          modernise government data sharing to improve government service delivery,
          inform government policies and programs and enable greater research and
          development. Over the past two decades, she has gravitated to roles
          that sit at the intersection of technology and policy. Her experience stretches
          from the early days of broadband policy and programs, to cybersecurity
          and championing internal transformation through smart use of technology.
          She has a wealth of experience in the public sector where she has held
          senior management positions across the Industry, Education and the Attorney-General's
          portfolios. She holds a Bachelor of Science with Honours, and a Master
          of Management, both from the Australian National University. She
          has also completed the Company Directors Course through the Australian
          Institute of Company Directors.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>How the new Data Availability and Transparency legislation will drive innovation, growth and social wellbeing</h4>
          <p>Government data is an increasingly valuable asset, but its value is not
            always realised. In some cases, legislative barriers prevent data from
            being shared. In others, cultural risk aversion leads the custodians
            of data to avoid sharing it, even if it is lawful, safe and worthwhile
            to do so.</p>
          <p>The Office of the National Data Commissioner has spent the past two years
            in consultation with data stakeholders from government, private and research
            communities to develop a new pathway to safely share data with the right
            people, for the right reasons, and with strong safeguards in place.</p>
          <p>The Data Availability and Transparency Bill creates a streamlined pathway
            for Australian Government agencies to share their data, so that it can
            be used to improve government service delivery, inform the development
            of government policies and programs, and facilitate more effective research
            and development.</p>
          <p>Its release in September 2020 marks a significant milestone in the Australian
            Government's commitment to making better use of the data it already holds
            and to support its vision for delivering a seamless digital experience
            for the Australian public. Data is also one of the pillars of the Digital
            Transformation Strategy released by the Digital Transformation Agency.</p>
          <p>This streamlined data sharing scheme will only work if entities sharing
            and accessing Australian Government data have the skills, capabilities
            and confidence to share and use data. The Office of the National Data
            Commissioner is also working to lift data capabilities across the APS
            and drive the cultural change required for agencies to get more value
            out of the data they hold, for the benefit of all Australians.</p>
        </div>
      </div>
    </div>
  </div>
</div>
