<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/grant-nicholson.jpg"
            alt="Grant Nicholson" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Grant Nicholson</h3>
        <p class="visually-hidden">Case study</p>
        <p class="ds-cards__card-intro">Capability Architect, Digital Transformation Agency</p>
        <p class="ds-cards__card-text">Grant is the Capability Architect at the Digital Transformation Agency. Grant has had many roles in the public service over more than 30 years, starting as a Patent Examiner and progressing through a series of IT related operational role before moving into leadership. In recent years he seconded to the Building Digital Capability program and now the Digital Professional Stream and has been instrumental in building the models and frameworks currently used to understand and develop our digital workforce capability.</p>
        <p><strong>Grant is co-presenting 'Upskilling the digital workforce &ndash; disrupting current approaches and thinking'</strong></p>
      </div>
    </div>
  </div>
</div>
