<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/jennifer-mulveny.jpg" alt="Jennifer Mulveny" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Jennifer Mulveny</h3>
        <p class="visually-hidden">Case study</p>
        <p class="ds-cards__card-intro">Director of Government Relations, Asia-Pacific, Adobe</p>
        <p class="ds-cards__card-text">Jennifer is Director of Government Relations, Asia-Pacific for Adobe. Based in Sydney, she is responsible for public
          policy issues that impact Adobe's regional business, including data, international trade, privacy, cybersecurity
          and intellectual property. Prior to this Jennifer was Director of Policy for Australia, New Zealand and Southeast
          Asia at Intel Corporation and served as Intel's US Senate Republican liaison in Washington, DC. During her time
          in Washington Jennifer also served as Director of Global Trade Policy at Hewlett-Packard. She was appointed Deputy
          Assistant for Congressional Affairs at the Office of the US Trade Representative under President George W. Bush.
          She has worked in the US Congress in both the House and Senate. Jennifer currently chairs the special interest
          group on public policy for the Australia Information Industry Association (AIIA) and was recently an adjunct professor
          at Georgetown University teaching global business and public policy.</p>
        <p><strong>Jennifer is co-presenting 'Upskilling the digital workforce &ndash; disrupting current approaches and thinking'</strong></p>
      </div>
    </div>
  </div>
</div>
