<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/leon-young.jpg"
            alt="Leon Young" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Leon Young</h3>
        <p class="visually-hidden">Case Study</p>
        <p class="ds-cards__card-intro">Cogniss</p>
        <p class="ds-cards__card-text">	Leon's creative digital career spans over 20 years across education, advertising and marketing, behaviour change and games. His work in health and educational technology has been recognised internationally, with the team he leads winning over 50 major awards in the USA, UK, and Australia.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>How human transformation technology is empowering governments and service providers to deliver rapid mobile mental health responses during COVID-19</h4>
          <p>To address the burden on health workers' mental health during COVID-19, leaders in technology and clinical care collaborated to deliver The Essential Network, an Australian government-funded mobile app providing specialist mental health advice and triaged support.</p>
          <p>The solution is technologically innovative in two ways. The app was developed on Cogniss, an Application Platform as a Service (APaaS) for creating Human Transformation Technology (HTT) solutions. HTT applies behavioural science to product design to help users achieve better health outcomes. Additionally, a no-code approach allowed the initial version of the app to be co-designed, developed and ready for release in two weeks.</p>
        </div>
      </div>
    </div>
  </div>
</div>
