<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">

      <div class="col-12">
        <h3 class="ds-cards__card-title">Luke Thomas</h3>
        <p class="visually-hidden">Case study</p>
        <p class="ds-cards__card-intro">Portable</p>
        <p class="ds-cards__card-text">Luke is Senior Legal Designer at Portable, working across legal design and
          technology products. He led the user research for Amica and worked to simplify
          the existing government processes as well as supported the data team on
          creating machine learning model to provide guidance for separating couples.
          He holds a Juris Doctor from Melbourne Law School.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>amica.gov.au &mdash; a digital solution for separating couples</h4>
          <p>Portable and National Legal Aid have recently launched <a href="https://amica.gov.au">amica.gov.au</a>            - a tool to help couples separate without the need for a lawyer. It leverages
            co-design, intuitive content and artificial intelligence to help people
            resolve their dispute themselves. This has resulted from 3 years user
            testing and agile development. Since being launched by the Federal Attorney-General
            on June 30 2020, over 1000 people have started this process, with agreements
            already being made between parties. Amica is an initiative of Portable
            that aligns with its mission to provide government services that meet
            and exceed the expectations of citizens.</p>
        </div>
      </div>
    </div>
  </div>
</div>
