<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/lyndon-blanchard.jpg"
            alt="Lyndon Blanchard" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Lyndon Blanchard</h3>
        <p class="visually-hidden">Case study</p>
        <p class="ds-cards__card-intro">COO, Digital Skills Organisation</p>
        <p class="ds-cards__card-text">Lyndon is the Chief Operating Officer at the Digital Skills Organisation. Since leaving the New Zealand Defence Force after 20 years' service, Lyndon has had various Senior Business Analysis and Project Management positions, specialising in business optimisation, process improvement and digital transformation for SMEs and large Federal and State Government agencies. Lyndon has considerable expertise in training delivery, development, and strategy, coupled with a depth of leadership and management at operational and strategic levels of business.</p>
        <p><strong>Lyndon is co-presenting 'Upskilling the digital workforce &ndash; disrupting current approaches and thinking'</strong></p>
      </div>
    </div>
  </div>
</div>
