<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">

      <div class="col-12">
        <h3 class="ds-cards__card-title">Matt Francis</h3>
        <p class="visually-hidden">Case study</p>
        <p class="ds-cards__card-intro">Solutions Lead, Clevertar </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>From overwhelmed phone lines to SA Health's first virtual employee. How we built virtual agent Zoe in 6 days to respond to COVID-19</h4>
          <p>Designed by Clevertar and SA Health's team, we built and launched Zoe in
            6 days to help SA Health respond to a surge in COVID-19-related questions
            to the state's hospital switchboards and contact lines. </p>
          <p>At a time when demand for health-related information has increased exponentially,
            Zoe is working around-the-clock to answer questions and help South Australians
            follow official health guidelines.</p>
          <p>The COVID-19 situation is changing rapidly with new information coming
            to light on a daily basis. Since its launch, Clevertar has been able
            to re-train Zoe and deploy new conversations in a matter of days.</p>
        </div>
      </div>
    </div>
  </div>
</div>
