<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/megan-james.jpg"
            alt="Megan James" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Megan James</h3>
        <p class="visually-hidden">Case Study</p>
        <p class="ds-cards__card-intro">WIC</p>
        <p class="ds-cards__card-text">Megan James is the President of Women in IT and Communications (WIC). WIC's
          mission as a Canberra-based, non-profit organisation is to 'bring people
          together to champion women in Information and Communication'. In addition
          to Megan's volunteer work (AIIA, WIC and BCNA) she is the Director Public
          Sector ANZ for Dataminr. She is a highly experienced senior executive who
          has had to navigate running a not for profit in extraordinary times as
          well as her other volunteer work and starting a new job in the middle of
          the pandemic.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Leadership through extraordinary times</h4>
          <p>As President of WIC, Megan has had to lead the organisation through a very
            difficult time. As a membership organisation that ran regular events
            Megan had to change the format and adapt quickly to providing value to
            members, sponsors and partners. Megan was passionate about providing
            support to her community during lockdown and providing a space for people
            to connect and support. At the same time Megan lost a job and gained
            a job. She will talk through managing these times and how her leadership
            has lead WIC to become an even stronger organisation with a more diverse
            reach.</p>
          <p>Whether charity work or her real job, Megan is known for her ability to
            engage connect and lead.</p>
          <p>This presentation will touch on both personal and business aspects on how
            she leads, why she leads and her other areas of passion.</p>
        </div>
      </div>
    </div>
  </div>
</div>
