<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/neil-king.jpg"
            alt="Neil King" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Neil King</h3>
        <p class="visually-hidden">Case Study</p>
        <p class="ds-cards__card-intro">Vision Australia</p>
        <p class="ds-cards__card-text">Neil has worked with a vast number of organisations in Europe and Australasia
          promoting and delivering inclusive outcomes. Currently leading Vision Australia's
          Digital Access team, government and commercial organisations draw on his
          expertise to go beyond compliance and deliver truly inclusive products.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Push and pull: why South Australia leads the way in online accessibility</h4>
          <p>As a result of new legislation introduced in 2018, the South Australian
            Government's Department of the Premier and Cabinet partnered with Vision
            Australia to develop a new approach to online accessibility. </p>
          <p>South Australian Government's Online Accessibility Policy, Toolkit (<a href="https://accessibility.sa.gov.au">accessibility.sa.gov.au</a>)
            and supporting solutions are now co-designed with leading accessibility
            specialists, government, the community, not-for-profit organisations,
            the private sector and people with disability to ensure they have a leading
            role in shaping policies and creating programs which influence their
            lives.</p>
          <p><a href="https://www.visionaustralia.org/south-australia-online-accessibility">Check out the journey, development and next steps: Push and pull: Why South
              Australia leads the way in online accessibility</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
