<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/nick-condon.jpg"
            alt="Nick Condon" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Nick Condon</h3>
        <p class="visually-hidden">Case Study</p>
        <p class="ds-cards__card-intro">South Australian Government</p>
        <p class="ds-cards__card-text">As Head of Digital Citizen Services, Nick is responsible for the whole-of-government
          digital strategy required to deliver service transformation for the South
          Australian Government. He has a specific focus on improving or creating
          new digital services for all citizens of South Australia. </p>
          <p><strong>Nick is co-presenter for 'Push and pull: why South Australia leads the way in online accessibility'.</strong></p>

      </div>
    </div>
  </div>
</div>
