<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/patrick-kidd.jpg"
            alt="Patrick Kidd" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Patrick Kidd OBE OAM</h3>
        <p class="visually-hidden">Case study</p>
        <p class="ds-cards__card-intro">CEO, Digital Skills Organisation</p>
        <p class="ds-cards__card-text">Patrick is Chief Executive Officer of the Digital Skills Organisation (DSO). He joined the DSO from Infosys where he was the Programme Director for a major digital transformation program in Services Australia. Before this role he spent 5 years with Deloitte Consulting during which he was seconded as the Chief Executive Officer for the Invictus Games Sydney 2018. He brings significant training expertise to the DSO, following a 30-year career in both the British and Australian Armies.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Up-skilling the digital workforce &ndash; disrupting current approaches and thinking</h4>
          <p>In this session panellists from the public and private sectors will discuss the how digital skills are described, developed and deployed, and how this could change in the future.  They will consider how and when people learn new digital skills and the need for lifelong skill development. They will talk about some of the innovative approaches and tools in use and being developed to help people discover, build and utilise their skills in a continuously evolving career.</p>
        </div>
      </div>
    </div>
  </div>
</div>
