<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/paul-gloyne.jpg"
            alt="Paul Gloyne" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Paul Gloyne</h3>
        <p class="visually-hidden">Case Study</p>
        <p class="ds-cards__card-intro">National Bushfire Recovery Agency</p>
        <p class="ds-cards__card-text">Paul is the acting Assistant Secretary of the Monitoring and Evaluation Branch in the National Bushfire Recovery Agency. Paul is responsible for the Agency's data, data analysis, monitoring and evaluation, and learning and adaption activities. Significant pieces of work undertaken by the branch include mapping the 2019–20 Black Summer Bushfire relief and recovery spending across the burn scar, monitoring take-up of Commonwealth Bushfire Recovery programs and leading a rapid learning and adaption process with states and NGOs. Paul and his branch seek to provide open data by default and use automation and technology to provide real time data and visualisation updates on bushfire recovery through local profiles for each of the 113 activated local government areas.</p>
        <p><strong>Paul is co-presenting 'Digitally enabled recovery &ndash; lessons from the National Bushfire Recovery Agency'.</strong></p>
      </div>
    </div>
  </div>
</div>
