<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/tom-hacon.jpg"
            alt="Tom Hacon" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Tom Hacon</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Hypothesis</p>
        <p class="ds-cards__card-text">Tom works at the intersection of physical and digital, blending originality
          with persistence to deliver valuable experiences to his customers. He believes
          in having passion, autonomy, mastery, and purpose. He is currently Principal
          Product Owner at Service New South Wales.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>How one team rapidly delivered drought, bushfire and COVID-19 crisis support to NSW citizens</h4>
          <p>Faced with the drought, bushfires, and COVID-19, the NSW State Government
            needed to rapidly support affected citizens.</p>
          <p>This case study talks to how a persistent cross functional team in Service
            NSW were able to really understand what citizens really needed and come
            back to home base to deliver it in weeks (not months). The case study
            is backed by how the work happened, calling out specifically:</p>
          <ul>
            <li>Human-centred design in the field not from the desk</li>
            <li>Lean-agile development &ndash; practice not theory</li>
            <li>Extreme Programming &ndash; pairing to build capability in Service NSW</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
