<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__case-studies">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/vi-nguyen.jpg"
            alt="Vi Nguyen" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Vi Nguyen</h3>
        <p class="visually-hidden">Case Study</p>
        <p class="ds-cards__card-intro">KPMG</p>
        <p class="ds-cards__card-text">Vi has over 17 years' experience as a software engineer, digital strategist
          and innovator at Macquarie Bank, Volvo Cars, Swedish Space Association,
          and start-ups. She has led high-profile digital transformations and designing
          future labs in Australia, Asia and Sweden. She has been described as an
          'entrepreneur at heart, with a heart'.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Designing services: a Swedish perspective</h4>
          <p>After spending 3 years within service and business design in Sweden, Vi's presentation will provide an insight into how service
            design is applied in Sweden, how this differs from Australia and what
            we could possibly adopt to fast-track designing for a human-centred government.
            Vi would like to impart some of her observations, while they are still
            fresh, to start the discussion, and possibly generate new ideas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
