// Typography

.branded,
.is-wrapper {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", arial, sans-serif;
    font-weight: bold;
  }
}
p {
  color: $foreground-dark;
  &.ds-introduction {
    font-weight: bold;
    font-size: 120%;
  }
}

.btn.ds-button {
  font-weight: bold;
  margin: 1rem 0;
  &:hover {
    text-decoration: underline;
  }
}
