// Typography

p {
  color: $foreground-dark;
  &.ds-introduction {
    font-weight: bold;
    font-size: 120%;
  }
}

.btn.ds-button {
  font-weight: bold;
  margin: 1rem 0;
  &:hover {
    text-decoration: underline;
  }
}

.ds-app-download {
  font-weight: bold;
  height: 110px;
  display: table;
  width: 100%;
  vertical-align: middle;
  a {
    display: table-cell;
    vertical-align: middle;
    width: calc(100% - 110px);
  }
  a::before {
    content: '';
    background: url('icon-download_app.png') no-repeat center center;
    width: 110px;
    height:110px;
    border-radius: 50%;
    display: table-cell;
  }
}
