<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__awards">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/elanor-huntington.jpg"
            alt="Elanor Huntington" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Elanor Huntington</h3>
        <p class="visually-hidden">Awards presenter</p>
        <p class="ds-cards__card-intro">Dean of Engineering and Computer Science, Australian National University</p>
        <p class="ds-cards__card-text">Elanor is Dean of the College of Engineering and Computer
          Science at the Australian National University (ANU). She is an established
          senior academic leader, with Board appointments to Innovation Science Australia,
          Significant Capital Ventures, Questacon and other government scientific
          advisory roles. In 2017 she was named an honorary Fellow of Engineers Australia
          and led the extended Group of Eight (Go8+) Engineering Deans as the first female
          Chair until 2019. Before she joined the ANU, she was Head of Engineering
          and IT at University of New South Wales (UNSW). During this time, she helped
          bring about significant transformation within the School, including setting
          up UNSW Space and The Australian Centre for Cyber Security. In 2000, she
          completed her PhD in experimental Quantum Optics at the ANU. Her current
          research includes the control of quantum systems, and more specifically the
          interface between theory and applications. In 2009, she completed a
          Masters of Information Technology, also through the ANU. She was recently
          selected to provide expert advice to the newly established Global
          Partnership on Artificial Intelligence. In 2017 she delivered a TEDxSydney
          Talk on 'Why we need Engineers now more than ever' and later in 2019, co-founded
          the Engineering for Australia Taskforce to provide expert advice on addressing
          barriers to women's participation in university engineering programs. As
          Dean, Elanor does more than contemplate the difference between distinctions
          and high distinctions. Her innovative thinking has recast engineering and
          computer science at the ANU with an unprecedented investment to reimagine
          the way we do things.</p>
        </div>
    </div>
  </div>
</div>
