<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/anthony-mcguiness.jpg"
            alt="Anthony McGuinness" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Anthony McGuinness</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Policy Design Director, Mentally Friendly</p>
        <p class="ds-cards__card-text"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>The team retro: reflecting on working from home</h4>
          <p>There is no playbook for what we are experiencing. Our teams have had to
            adapt to a new normal overnight. At Mentally Friendly, we have been running
            regular team retros since the pandemic began. This has enabled us to
            adapt and adjust as a team and promoted transparency and trust among
            leadership and staff. We have charted team sentiment moving from anxiety
            in uncertainty, to enjoying the silver linings of working from home,
            to video call fatigue and a desire to reconnect in person.</p>
          <p>We want to share the benefits of the team retro. The session will draw
            on lessons documented in our remote team guide <a href="https://acceleration.team/">https://acceleration.team/</a>,
            and encourage participants to engage in an abridged live team retro,
            individually carding up and playing back their own reflections on what
            has and hasn't worked well for them.</p>
        </div>
      </div>
    </div>
  </div>
</div>
