<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="col-12">
        <h3 class="ds-cards__card-title">Craig Smith</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Agilist, SoftED</p>
        <p class="ds-cards__card-text">Craig Smith has been an agile practitioner, coach and one of Australia's
          premier agile trainers for over 15 years. He is one of Australia's biggest
          contributors to the agile community. He is the Global Agility Lead for
          SoftEd, a director of the Agile Alliance, co-organiser of the Agile Brisbane
          Meetup Group, co-host of one of the world's leading agile podcasts, and
          an agile editor for InfoQ. He has comprehensive experience at government
          agencies and specialises in all facets of agile training, executive coaching,
          and technical excellence by helping teams and organisations improve their
          quality.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Agility accelerator</h4>
          <p>Today 'agile' is no longer just a buzzword. From building spacecraft to
            manufacturing, some of the most complex and largest organisations in
            the world are using agile ways of working to deliver better outcomes,
            respond to change, improve quality, foster more productive and happier
            teams, and reduce risk.</p>
          <p>This hands-on and interactive session is aimed at helping public sector
            organisations build capability to support agile ways of working, from
            policy development through to service design and delivery.</p>
          <p>Participants will have access to resources and materials to help accelerate
            capability building within their own organisations.</p>
        </div>
      </div>
    </div>
  </div>
</div>
