<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/darren-menachemson.jpg"
            alt="Darren Menachemson" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Darren Menachemson</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Thinkplace Partner, Chief Digital Officer and Chief Ethicist</p>
        <p class="ds-cards__card-text">As designer and ethicist, Darren works to tackle large-scale societal challenges in Australia and around the world. He is a global partner with ThinkPlace and serves as Chief Ethicist and Chief for Digital Societies. He is a board member of ThinkAction, Johns Hopkins University's human-centred design partner for USAID's international Breakthrough Action program and is co-founder and Chief Impact Officer of the Ed Institute, which works to create and inspire the next generation of changemakers. He spent a decade in the Australian Public Service, establishing and leading strategic design and transformation capabilities. He has worked on Australia's largest digital transformation initiatives and has trained hundreds of senior executives in digital transformation leadership and digital ethics. Darren believes that Australian society is in a profound digital transition and that the APS will be a critical precedent-setter for ethical impact. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>55 minutes in the digital ethics pressure cooker</h4>
          <p>It's 2025. Sustainability is at the top of the world's agenda, and Australia is conducting a bold policy experiment that rewards households consuming sustainably, through the tax system.</p>
          <p>You will assume the role of a Digital Ethics Analyst, and work with a small team of peers to reflect on a particularly controversial aspect of the policy design. Your job is to confront a difficult digital ethics dilemma and think through the digital ethics implications.</p>
          <p>We will introduce you to important ethics concepts and a digital ethics framework that can guide your thinking. But make no mistake: it will not be clear cut, and it will not feel comfortable.</p>
          <p>The course is suited to those currently or potentially involved in digital transformation programs, with a decision-making, design or assurance role. You do not need prior knowledge of digital ethics or ethics theory.</p>
          <p>This will debut a new workshop from ThinkPlace. Thinkplace have a strong track record of running inspiring and energising Pressure Cooker sessions where participants take on a realistic digital or policy ethics challenge.</p>
        </div>
      </div>
    </div>
  </div>
</div>
