<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/ed-bridgeland.jpg"
            alt="Ed Bridgeland" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Ed Bridgeland</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Senior Client Partner, Publicis Sapient</p>
        <p class="ds-cards__card-text">Ed leads the Government Human Services practice at Publicis Sapient in Australia.
          He has worked in and for the public sector for over 15 years, starting
          his career in Central Government in the UK. He is passionate about improving
          how governments deliver services to citizens relying on them, and has helped
          Federal, State and Local Governments to enhance customer services, maintain
          sustainable costs and ultimately achieve better outcomes. He has successfully
          worked across many areas of Government service, though is particularly
          focused on the human and social aspects of the sector, including welfare,
          justice, and community services.</p>
          <p><strong>Ed is co-presenter for 'Designing a better ecosystem for data and digital services'.</strong></p>
      </div>
    </div>
  </div>
</div>
