<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/francois-kirsten.jpg"
            alt="Francois Kirsten" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Francois Kirsten</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Manager, Customer Strategy and Design, Deloitte Digital</p>
        <p class="ds-cards__card-text">Francois is a Strategic Designer at Deloitte Digital. He is driven by a desire to tackle wicked problems like overpopulation, the future of work, and climate change. He is passionate about the design of modern business and looks for solutions that balance profit and prosperity for people and the planet in uncertain times. </p>
        <p><strong>Francois is co-presenter for 'Experimental futures: designing a prosperous nation'.</strong></p>
      </div>
    </div>
  </div>
</div>
