<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/glenn-chapman.jpg"

            alt="Glenn Chapman" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Glenn Chapman</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Client CTO &ndash; Federal Government, Telstra</p>
        <p class="ds-cards__card-text">Glenn is a trusted technology advisor to senior federal and state customer
          stakeholders, strengthening customer relationships while producing deep
          technical and business insights. He leads the development of customer technology
          strategies and roadmaps while advocating business and sector alignment.
          He has worked in the ICT industry for the past 20 years, helping federal
          and state governments and critical national infrastructure and international
          organisations to align their business and technology strategies, maximising
          the business benefit of their ICT investments.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>SASE: Cloud-first architecture</h4>
          <p>COVID-19 has significantly increased remote work, potentially changing some of the assumptions behind perimeter-based security. Organisations are increasingly looking to secure their critical applications and data through the uses of Secure Access Service Edge (SASE) technology. This session will:</p>
          <ul>
            <li>Challenge the thinking that organisations can be adequately protected by treating the edge as an impenetrable barrier.</li>
            <li>Provide participants with an understanding of Secure Access Service Edge (SASE), and its benefits.</li>
            <li>Discuss a workable roadmap to achieve SASE given the current state of technology in many government organisations.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
