<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/jane-headon.jpg"
            alt="Jane Headon" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Jane Headon</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Director, Strategy &amp; Data, Publicis Sapient</p>
        <p class="ds-cards__card-text">Jane leads Publicis Sapient's Data and Analytics practice. She is a strategic
          thinker with a track record helping clients design customer and citizen
          strategies and implementing data-driven marketing. Her work has covered
          marketing, communications and customer experience capabilities &ndash; both business
          and technical, covering content and communications, channel strategy, audience
          strategy, analytics, data and decisioning, and the voice of the customer.
          She brings an engaged and relevant voice to global and local issues around
          data regulation, privacy and ethics. For this workshop, she will bring
          her knowledge of global trends in data practices and technology to the
          agile governance domain, providing strategic foresight to underpin a vibrant
          and provocative conversation.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Designing a better ecosystem for data and digital services </h4>
          <p>In this workshop, Jane and Ed explore the challenge of 'How do we build a better
            ecosystem for digital service delivery and trusted data flow across borders
            &ndash; both local and global'.</p>
          <p>For government, we're currently experiencing a watershed moment, signalling
            the criticality of fast-tracking digitisation of citizen services. But
            there continues to be many barriers to why, how, when we share data for
            digital service delivery. Join this interactive workshop to hear an overview
            of major global trends and innovations in the regulatory, privacy and
            ethics data landscape. </p>
        </div>
      </div>
    </div>
  </div>
</div>
