<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">

      <div class="col-12">
        <h3 class="ds-cards__card-title">Judith Levitan</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Manager, Client Service, Legal Aid NSW</p>
        <p class="ds-cards__card-text">Judith has worked in the public legal assistance sector for over 15 years.
          Previously she was a lawyer in a private practice. She has degrees in law
          and social work. In her latest role she brings the voice of the client
          into the strategic conversation about how Legal Aid NSW designs and delivers
          services. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Digital design and disadvantaged clients: bringing voices at the margins to the centre of digital service design and delivery</h4>
          <p>Our Legal Aid NSW Strategic Plan places clients at the centre of everything
            we do. Through our digital work program, we co-designed the development
            of digital tools with highly disadvantaged clients who considered themselves
            digitally excluded and had challenges engaging with government services.
            We brought their voice to every step of the design process to improve
            their experience of getting help. </p>
          <p>Our clients are often marginalised. Being part of these projects empowered
            them and made sure their voices were heard and needs met. For many, it
            was the first time an 'institution' had asked their opinion and encouraged
            them to share the expertise of their lived experience. </p>
          <p>The global COVID-19 pandemic did not prevent us from engaging and designing
            with our clients. We share how to recruit and engage with clients online
            in a virtual context to maximise their input and engagement.</p>
        </div>
      </div>
    </div>
  </div>
</div>
