<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row"><div class="d-none d-sm-table col-sm-3">
      <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/judith-levitan.jpeg"
          alt="Judith Levitan" /> </div>
    </div>
  <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Judith Levitan</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Manager, Client Service, Legal Aid NSW</p>
        <p class="ds-cards__card-text">Judith has worked in the public legal assistance sector for over 15 years.
          Previously she was a lawyer in a private practice. She has degrees in law
          and social work. In her latest role she brings the voice of the client
          into the strategic conversation about how Legal Aid NSW designs and delivers
          services. </p>
          <p><strong>Judith is co-presenter for 'Digital design and disadvantaged clients: bringing voices at the margins to the centre of digital service design and delivery'.</strong></p>
      </div>
    </div>
  </div>
</div>
