<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/lana-thorpe.jpg"
            alt="Lana Thorpe" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Lana Thorpe</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Director, Customer Strategy and Experience Design, Deloitte Digital</p>
        <p class="ds-cards__card-text">Lana is a Director in the Customer Strategy and Experience Design team at Deloitte Digital. With over 13 years of industry experience across both public and private sectors, Lana specialises in human-centred, service, and strategic design, agile delivery, and experience visioning. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Experimental futures: designing a prosperous nation</h4>
          <p>The global pandemic has drastically accelerated transformation and our perceptions of what's possible. Futurists, designers, change-makers and leaders are eager to take advantage of the shifting economic and social landscape to design better futures. We invite you to explore the current drivers and mega-shifts, to design new world scenarios for the future of government. Experimental futures provide us with new tools, methods and frameworks to make sense of this complexity and to understand emerging risks and opportunities to better inform the actions we take today.</p>
          <p>We've designed this session to empower organisations to consider the future in their decision-making. They can explore a variety of scenarios to solve emerging problems in novel ways to reveal insights into effective actions towards desirable futures. We will introduce participants to a range of futures and scenario-planning methods in a practical setting with a focus on the human services, transport, and education sectors. We also provide an Experimental Futures Playbook for all participants to help bridge learning-to-doing to extend learning beyond the virtual classroom.</p>
        </div>
      </div>
    </div>
  </div>
</div>
