<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/neil-macdonald.jpg"

            alt="Neil MacDonald" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Neil MacDonald</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Distinguished VP Analyst, Gartner</p>
        <p class="ds-cards__card-text">Neil is a Vice President, Distinguished Analyst and Gartner Fellow Emeritus in Gartner Research, based in Stamford, Connecticut. He is a member of Gartner's information security, privacy and risk research team, focusing on securing next-generation virtualised and cloud-based computing environments. Specific research areas include container/serverless security, protection of hybrid cloud and IaaS workloads and applications, and protection from advanced and targeted attacks with adaptive security architectures based on a continuous adaptive risk and trust assessment (CARTA) strategic approach. His most recent research area explores the convergence of network and network security as a service into a cloud-based secure access service edge (SASE), enabling zero trust, anywhere/anytime access for a digital business and workforce.</p>
        <p><strong>Neil is a co-presenter for 'SASE: Cloud-first architecture'.</strong></p>
      </div>
    </div>
  </div>
</div>
