<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/ryan-fahy.jpg"

            alt="Ryan Fahy" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Ryan Fahy</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">Senior Executive Partner, Gartner</p>
        <p class="ds-cards__card-text">Ryan joined Gartner in October 2019 as a Senior Executive Partner. He advises
          a range of clients in the financial services, resources, infrastructure,
          health sectors, and all levels of government. He brings a strong business
          perspective to this role, linking business change to technology. He has
          experience interacting with Boards for ASX-listed companies. Before joining
          Gartner, he was the Chief Information Officer for Healius and Woolworths,
          where his team delivered the technology solution for its new customer rewards
          program. He also spent 12 years working for the Commonwealth Bank and as
          a strategy consultant with Boston Consulting Group. In a previous life
          he served as an officer in the United States Navy where he operated nuclear
          reactors on ships.</p>
        <p><strong>Ryan is a co-presenter for 'SASE: Cloud-first architecture'.</strong></p>
      </div>
    </div>
  </div>
</div>
