<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/speedo-tasbihsazan.jpg"

            alt="Speedo Tasbihsazan" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Speedo Tasbihsazan</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">CTO &ndash; Telstra Strategic Accounts, Telstra</p>
        <p class="ds-cards__card-text">With a career to date placed at the leading edge of the field with organisations
          such as HPE, NTT, and Telstra, Speedo understands both the risk and high
          reward of technological innovation. Today, as a CTO and trusted executive
          business partner, he combines this exposure with knowledge of emerging
          technology trends to develop multi-year ICT strategies that underpin key
          business objectives. He is the founder of the Telstra Cloud Guild and Telstra's
          Secure Access Service Edge (SASE) champion. Working closely with Telstra
          Purple and Product &amp; Technology teams, Speedo guides consulting engagements
          and product development for the Enterprise market.</p>
          <p><strong>Speedo is a co-presenter for 'SASE: Cloud-first architecture'.</strong></p>
      </div>
    </div>
  </div>
</div>
