<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/zoe-rose.jpeg" alt="Zoe Rose" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Zoe Rose</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">UX Designer and Trainer, Synergy</p>
        <p class="ds-cards__card-text">Zoe works in user experience design and design training. Her career has spanned the UK and Australia, and she has
          worked for organisations like the BBC, Cambridge University Press, GOV.UK, PwC and Seek. Zoe's interest in the
          relationship between disability and design has deep roots. She has presented widely on disability topics, including
          at UX Australia. Zoe also acquired a significant disability after a fall in 2018, an experience that has deepened
          her commitment to helping people who build web services understand disability and the benefits that designing for
          disability can bring.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Solve for one, extend to many: designing for inclusion</h4>
          <p>The principles and benefits of inclusive design are now well established, but how can they be applied in government?</p>
          <p>In this workshop, we will find ways to remove barriers faced by a hypothetical person with a disability in real
            scenarios. You will find out how embracing the complexities and constraints that disability introduces can lead
            to products and services that are better for everyone.</p>
          <p>We will explore the fundamental principles of inclusive design, the prevalence of different forms of disability,
            and the main models of disability. We will not cover technical aspects of accessibility. No technical knowledge
            is required or assumed for this workshop.</p>
          <p>This workshop is for anyone who is involved in creating and delivering services, on or off the web.</p>
        </div>
      </div>
    </div>
  </div>
</div>
