<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__workshops">
    <div class="row"><div class="d-none d-sm-table col-sm-3">
      <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/zoe-rose.jpeg"
          alt="Zoe Rose" /> </div>
    </div>
    <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Zoe Rose</h3>
        <p class="visually-hidden">Workshop</p>
        <p class="ds-cards__card-intro">UX Designer and Trainer, Synergy</p>
        <p class="ds-cards__card-text">Zoe works in user experience design, information architecture, content design,
          and educational technologies. Zoe's career has spanned the UK and Australia.
          She has worked for the BBC, Cambridge University Press, GOV.UK, PwC and
          Seek. She has presented widely on disability topics, including at UX Australia.
          Her interest in the relationship between disability and design has deep
          roots. She acquired a serious disability after a fall in 2018. This experience
          deepened her commitment to talking about disability and the benefits designing
          for disability can bring to people who build and maintain services as widely
          as possible, especially in government. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Solve for one, extend to many: a practical hypothetical exercise in inclusive design for people with disabilities</h4>
          <p>Disability is an under-valued element of human diversity that is insufficiently
            understood in technology. The principles and benefits of inclusive design
            are now well established. But how can they be applied in government?
            In this workshop, participants will undertake some structured activities
            before engaging in a collaborative design challenge. This workshop is
            hypothetical. We will engage with a persona rather than conduct user research with a person with a disability.</p>
        </div>
      </div>
    </div>
  </div>
</div>
