<div class="is-section is-section-auto is-box ds-background__green ds-full-width ds-dark">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid">
        <div class="row">
          <div class="col-12">
            <h2 id="download-app">Download the app</h2>
            <div class="row">
              <div class="col-md">
                <a href="#"><img class="ds-app-download__icon apple" src="apple-app-store-badge.png" alt="Download from the App Store"/></a>
              </div>
              <div class="col-md">
                <a href="#"><img class="ds-app-download__icon" src="google-play-badge.png" alt="Download from Google Play"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
