<div class="is-section is-section-auto is-box">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid ds-background__white ds-light">
        <div class="row">
          <div class="col-md-12">
            <h2 id="day-1">Day 1: Disruption and Change</h2>
            <p class="ds-introduction">Tuesday 10 November 2020</p>
            <p>Recent crises have seen government and industry accelerate digital transformation across departments, agencies and organisations. Digital transformation is crucial to business continuity and rapid response to disasters. </p>
            <p>We'll hear from thought leaders on the importance of digital transformation through crisis, the opportunities presented from change, and how we have adapted and worked through change and disruption.</p>
            <div class="ds-program">
              <div class="row">
                <div class="col-12 ds-cards">
                  <div class="row">
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__exhibition">
                        <h3 class="ds-cards__card-title">Virtual Exhibition</h3>
                        <p class="ds-cards__card-intro">10:00 am to 11:00 am</p>
                      </div>
                    </div>
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__welcome">
                        <div class="row">
                          <div class="col-3 col-sm-2">
                            <div class="ds-program__image ds-program__image-single">
                              <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                            </div>
                          </div>
                          <div class="col-9 col-sm-10">
                            <h3 class="ds-cards__card-title">Welcome</h3>
                            <p class="ds-cards__card-intro">11:00 am to 11:15 am</p>
                            <ul>
                              <li>MC &ndash; Welcome and introduction to Day 1</li>
                              <li>Welcome to Country</li>
                              <li>Welcome guests and official opening</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__keynote">
                        <div class="row">
                          <div class="col-3 col-sm-2">
                            <div class="ds-program__image ds-program__image-single">
                              <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                            </div>
                          </div>
                          <div class="col-9 col-sm-10">
                            <h3 class="ds-cards__card-title">Keynote</h3>
                            <p class="ds-cards__card-intro">11:15 am to 11:30 am</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__plenary">
                        <h3 class="ds-cards__card-title">Plenary sessions</h3>
                        <p class="ds-cards__card-intro">11:35 am to 11:55 am</p>
                        <p class="ds-cards__card-text">MC introduces plenary sessions</p>
                        <div class="row">
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-4 col-sm-3">
                                  <div class="ds-program__image ds-program__image-single">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-8 col-sm-9">
                                  <h4 class="ds-cards__card-title">Plenary 1</h4>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-4 col-sm-3">
                                  <div class="ds-program__image ds-program__image-single">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-8 col-sm-9">
                                  <h4 class="ds-cards__card-title">Plenary 2</h4>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__exhibition">
                        <h3 class="ds-cards__card-title">Virtual Exhibition</h3>
                        <p class="ds-cards__card-intro">12:00 pm to 1:00 pm</p>
                      </div>
                    </div>
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__awards">
                        <div class="row">
                          <div class="col-3">
                            <div class="ds-program__image ds-program__image-multiple">
                              <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                              <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                            </div>
                          </div>
                          <div class="col-9">
                            <h3 class="ds-cards__card-title">Awards &ndash; Outstanding digital service awards</h3>
                            <p class="ds-cards__card-intro">12:00 pm to 12:25 pm</p>
                            <p class="ds-program__speaker-name"><a href="/speakers.html#james-ologhlin">James O'Loghlin</a> and <a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__workshops">
                        <h3 class="ds-cards__card-title">Workshops and case studies</h3>
                        <p class="ds-cards__card-intro">12:30 pm to 1:30 pm</p>
                        <p class="ds-cards__card-text"><strong>Note: </strong>you must pre-book workshop attendance.</p>
                        <div class="row">
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-3 col-md-12">
                                  <div class="ds-program__image ds-program__image-multiple">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-9 col-md-12">
                                  <h3 class="ds-cards__card-title">Workshop 1</h3>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name</a>, Speaker title and <a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-3 col-md-12">
                                  <div class="ds-program__image ds-program__image-multiple">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-9 col-md-12">
                                  <h3 class="ds-cards__card-title">Workshop 2</h3>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-3 col-md-12">
                                  <div class="ds-program__image ds-program__image-multiple">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-9 col-md-12">
                                  <h3 class="ds-cards__card-title">Case study 1</h3>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-3 col-md-12">
                                  <div class="ds-program__image ds-program__image-multiple">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-9 col-md-12">
                                  <h3 class="ds-cards__card-title">Case study 2</h3>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__ondemand">
                        <h3 class="ds-cards__card-title">On-demand content</h3>
                        <p class="ds-cards__card-intro">11:00 am to 1:30 pm</p>
                        <div class="row">
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-3 col-md-12">
                                  <div class="ds-program__image ds-program__image-multiple">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-9 col-md-12">
                                  <h3 class="ds-cards__card-title">On-demand 1</h3>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-3 col-md-12">
                                  <div class="ds-program__image ds-program__image-multiple">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-9 col-md-12">
                                  <h3 class="ds-cards__card-title">On-demand 2</h3>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md ds-cards__card">
                            <div class="ds-cards__card-inner">
                              <div class="row">
                                <div class="col-3 col-md-12">
                                  <div class="ds-program__image ds-program__image-multiple">
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                    <img src="james-ologhlin.jpg" alt="Keynote speaker"/>
                                  </div>
                                </div>
                                <div class="col-9 col-md-12">
                                  <h3 class="ds-cards__card-title">On-demand 3</h3>
                                  <p class="ds-program__speaker-name"><a href="/speakers.html#name-1">Speaker name 1</a>, Speaker title, <a href="/speakers.html#name-1">Speaker name 2</a>, Speaker title, and <a href="/speakers.html#name-1">Speaker name 3</a>, Speaker title</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ds-cards__card">
                      <div class="ds-cards__card-inner ds-program__close">
                        <h3 class="ds-cards__card-title">Day 1 close</h3>
                        <p class="ds-cards__card-intro">1:55 pm to 2:00 pm</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{> back-to-top}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
