<div class="is-section is-section-auto is-box" id="ds-menu__days">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid ds-background__yellow ds-light">
        <div class="row">
          <div class="col-md-12">
            <h2 id="top">Select your day</h2>
            <div class="ds-page-menu__cards">
              <div class="row">
                <div class="col-md"><a href="/day-1.html">Day 1: <br />Disruption and Change</a></div>
                <div class="col-md"><a href="/day-2.html">Day 2: <br />Human-centred Services</a></div>
                <div class="col-md"><a href="/day-3.html">Day 3: <br />Leadership and People</a></div>
                <div class="col-md"><a href="/day-4.html">Day 4: <br />Technology and Data</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
