<div class="is-section is-section-auto is-box">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid ds-full-width ds-background__white ds-light">
        <div class="row">
          <div class="col-12 is-bg-blue ds-sponsors__group">
            <h2 id="sponsors">Exhibitors</h2>
            <div class="row">
              {{> asg }}
              {{> dps }}
              {{> babl }}
              {{> clevertar }}
            </div>
            <div class="row">
              {{> delv }}
              {{> dta }}
              {{> internetrix }}
              {{> oecd }}
            </div>
            <div class="row">
              {{> oxide }}
              {{> paper-giant }}
              {{> pentaquest }}
              {{> psin }}
            </div>
            <div class="row">
              {{> tobias }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
