<div class="is-section is-section-auto is-box">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid ds-full-width ds-background__white ds-light">
        <div class="row">
          <div class="col-12 is-bg-blue ds-sponsors__group">
            <h2 id="sponsors">Exhibitors</h2>
            <div class="row">
              {{> abs}}
              {{> asg }}
              {{> baidam }}
              {{> babl }}
            </div>
            <div class="row">
              {{> clevertar }}
              {{> corroboree }}
              {{> delv }}
              {{> dps }}</div>
            <div class="row">
              {{> dta }}
              {{> ecg }}
              {{> first-people }}
              {{> govhack }}</div>
            <div class="row">
              {{> internetrix }}
              {{> oecd }}
              {{> oxide }}
              {{> paper-giant }}</div>
            <div class="row">
              {{> pentaquest }}
              {{> tobias }}
              {{> towcha }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
