<div class="is-section is-section-auto is-box">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid ds-full-width ds-background__white ds-light">
        <div class="row">
          <div class="col-12 is-bg-blue ds-sponsors__group">
            <h2 id="sponsors">Exhibitors</h2>
            <div class="row">
              <div class="col-12 col-md-3 ds-sponsor">
                <img alt="Observatory of Public Sector Innovation" src="https://digital-summit-2020.apps.y.cld.gov.au/img/oecd.png" />
                <p class="ds-sponsor-text">Observatory of Public Sector Innovation</p>
              </div>
              <div class="col-12 col-md-3 ds-sponsor">
                <img alt="Oxide Interactive" src="https://digital-summit-2020.apps.y.cld.gov.au/img/oxide.png" />
                <p class="ds-sponsor-text">Oxide Interactive</p>
              </div>
              <div class="col-12 col-md-3 ds-sponsor">
                <img alt="Pentaquest" src="https://digital-summit-2020.apps.y.cld.gov.au/img/pentaquest.png" />
                <p class="ds-sponsor-text">Pentaquest</p>
              </div>
              <div class="col-12 col-md-3 ds-sponsor">
                <img alt="Tobias" src="https://digital-summit-2020.apps.y.cld.gov.au/img/Tobias%20and%20Tobias.png" />
                <p class="ds-sponsor-text">Tobias</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
