<!-- This is the footer. Don't copy and paste this. -->

<div class="is-section is-section-auto is-box ds-background__blue ds-full-width ds-footer">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid" id="contentareaRJBqSsE">
        <div class="row">
          <div class="col-md-1 col-sm-2 col-2 ds-footer__wordmark">
            <img alt="Digital Transformation Agency" src="https://az659834.vo.msecnd.net/eventsairaucprod/production-dta-public/19eb571f39eb41dba323f1bd36e7c1bd">
          </div>
          <div class="col-md-10 ds-footer__text">
            <ul>
              <li><a title="" href="mailto:summit@dta.gov.au">Email summit@dta.gov.au</a></li>
              <li><a title="" href="https://www.dta.gov.au/our-privacy-policy">Privacy</a></li>
              <li><a title="" href="https://www.dta.gov.au/disclaimer-and-copyright">Disclaimer and copyright</a></li>
            </ul>
            <p>&copy; Commonwealth of Australia. With the exception of the Commonwealth Coat of Arms and where otherwise noted, this work is licensed under the CC BY 4.0 license.</p>
            <p>App Store is a trademark of Apple Inc. Google Play and the Google Play logo are trademarks of Google LLC.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
