<!-- This is the footer. Don't copy and paste this. -->
{{> app }}

<div class="is-section is-section-auto is-box ds-background__blue ds-full-width ds-footer">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid">
        <div class="row">
          <div class="col-12">
            <ul>
              <li><a href="mailto:summit@dta.gov.au">Email us</a></li>
              <li><a href="mailto:awards@dta.gov.au">Email Awards</a></li>
              <li><a href="https://www.dta.gov.au/our-privacy-policy">Privacy and cookies</a></li>
              <li><a href="https://www.dta.gov.au/disclaimer-and-copyright">Copyright</a></li>
              <li><a href="/digital-summit-2020/terms-conditions/">Terms and conditions</a></li>
              <li><a href="/digital-summit-2020/promotions-kit/">Promotions kit</a></li>
              <li><a href="https://www.dta.gov.au/accessibility">Accessibility</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-sm-10 col-lg-11">
            <p>&copy; Commonwealth of Australia. With the exception of the Commonwealth
              Coat of Arms and where otherwise noted, this work is licensed under
              the CC BY 4.0 license.</p>
            {{> logo-acknowledgement }}
            <p>All images and logos used with permission.</p>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 ds-footer__wordmark"> <img alt="Digital Transformation Agency" src="https://az659834.vo.msecnd.net/eventsairaucprod/production-dta-public/19eb571f39eb41dba323f1bd36e7c1bd">            </div>
        </div>
      </div>
    </div>
  </div>
</div>
