<div class="upper-header">

  <!-- This is the header. Don't copy and paste this into the main page. -->

  <div class="is-section is-box is-dark-text is-section-auto is-header-section">
    <div class="is-boxes">
      <div class="is-box-centered">
        <div class="is-container is-builder container-fluid-fluid ds-header__content">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-8 header-crest">
              <a href="/digital-summit-2020/">
                <img src="https://az659834.vo.msecnd.net/eventsairaucprod/production-dta-public/f236e6b8678b4bf78106b81d2d39bc8a" alt="Digital Transformation Agency">
              </a>
            </div>
            <div class="col-md-7 header-logo center">
              <img src="https://az659834.vo.msecnd.net/eventsairaucprod/production-dta-public/c5e65fab0d144a549ae3a0c62a41383b" alt="Digital Summit 2020, 10-19 November. Adapt, Engage, Deliver"> </div>
            <div class="col-md-1 col-2 col-sm-2 right header-wordmark">
              <a href="https://dta.gov.au/">
                <img src="https://az659834.vo.msecnd.net/eventsairaucprod/production-dta-public/19eb571f39eb41dba323f1bd36e7c1bd" alt="Digital Transformation Agency">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
