<head>
  <title>Digital Summit 2020</title>
  <!-- These are files here to make the test site look the same as the production one on EventsAir -->
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://az659834.vo.msecnd.net/EventWebsite/dta/box/box.css?v=10.1.36.1" rel="stylesheet" type="text/css">
  <link href="https://az659834.vo.msecnd.net/EventWebsite/dta/assets/minimalist-basic/content-bootstrap.css?v=10.1.36.1" rel="stylesheet" type="text/css">
  <link href="https://az659834.vo.msecnd.net/EventWebsite/dta/assets/scripts/simplelightbox/simplelightbox.css?v=10.1.36.1" rel="stylesheet" type="text/css">
  <link href="https://az659834.vo.msecnd.net/EventWebsite/dta/content/site.css?v=10.1.36.1" rel="stylesheet" type="text/css">
  <link href="https://az659834.vo.msecnd.net/EventWebsite/dta/content/flipclock.css?v=10.1.36.1" rel="stylesheet" type="text/css">
  <link href="https://az659834.vo.msecnd.net/eventsairaucprod/production-dta-public/9200f7c063804d7082b2c367e67b8ac1" rel="stylesheet" type="text/css">
  <!--load jquery at the top so custom js sections can use it-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://az659834.vo.msecnd.net/EventWebsite/dta/scripts/flipclock.min.js?v=10.1.36.1" type="text/javascript"></script>
  <link type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&amp;display=swap" rel="stylesheet">
  <!-- This is the original customised stylesheet. It is commented out as it will be replaced later. -->
  <!-- <link type="text/css" rel="stylesheet" href="https://az659834.vo.msecnd.net/eventsairaucprod/production-dta-public/410b590f7d454bc4936bcef0add5e0a3"> -->

  <!-- This is the one we're using to develop -->
  <link type="text/css" rel="stylesheet" href="../digital-summit.styles.css">

</head>
