<div class="is-section is-section-auto is-box">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid ds-full-width ds-background__white ds-light">
        <div class="row">
          <div class="col-12 is-bg-blue ds-sponsors__group">
            <h2 id="sponsors">Platinum sponsors</h2>
            <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="is-section is-section-auto is-box">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid ds-full-width ds-background__white ds-light">
        <div class="row">
          <div class="col-12 ds-sponsors__group">
            <h3>Gold sponsors</h3>
            <div class="row">
              <div class="col-12 col-md-3 ds-sponsor">
                <a href="https://www.dragonflytechnologies.com.au/">
                <img alt="Dragonfly Technologies" src="https://digital-summit-2020.apps.y.cld.gov.au/img/Dragonfly%20160x160.png" class="ds-sponsor-img"/>
                </a>
                <p class="ds-sponsor-text">Dragonfly Technologies</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
