<div class="is-section is-section-auto is-box ds-full-width ds-background__white ds-light">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid">
        <div class="row">
          <div class="col-12 is-bg-blue ds-sponsors__group">
            <h2 id="sponsors">Platinum sponsors</h2>
            <div class="row">
              <div class="col-12 col-md-3 ds-sponsor">
                <img alt="" src="" />
                <p class="ds-sponsor-text"></p>
              </div>
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="" />
                <p class="ds-sponsor-text">Sponsor 2</p>
              </div>
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="#" />
                <p class="ds-sponsor-text">Sponsor 3</p>
              </div>
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="#" />
                <p class="ds-sponsor-text">Sponsor 4</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="is-section is-section-auto is-box ds-background__grey ds-full-width ds-light">
  <div class="is-boxes">
    <div class="is-box-centered">
      <div class="is-container is-builder container-fluid-fluid">
        <div class="row">
          <div class="col-12 ds-sponsors__group">
            <h3>Gold sponsors</h3>
            <div class="row">
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="#" />
                <p>Sponsor 1</p>
              </div>
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="#" />
                <p>Sponsor 2</p>
              </div>
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="#" />
                <p>Sponsor 3</p>
              </div>
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="#" />
                <p>Sponsor 4</p>
              </div>
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="#" />
                <p>Sponsor 5</p>
              </div>
              <div class="col-12 col-md ds-sponsor">
                <img alt="" src="#" />
                <p>Sponsor 6</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
