<div class="row">
  <div class="col-md-12">
    <h2 id="four-key-themes">4 days &ndash; 4 themes</h2>
    <div class="row">
      <div class="col-md-12 ds-cards">
        <div class="row">
          <div class="col-12 col-md-6 ds-cards__card">
            <div class="ds-cards__card-inner">
              <h3 class="ds-cards__card-title">Disruption and change</h3>
              <p class="ds-cards__card-intro">Day 1, Thursday 10 November</p>
              <p class="ds-cards__card-text">Recent crises have seen government and industry accelerate digital transformation across departments, agencies and organisations. Digital transformation is crucial to business continuity and rapid response to disasters.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 ds-cards__card">
            <div class="ds-cards__card-inner">
              <h3 class="ds-cards__card-title">Human-centred Services</h3>
              <p class="ds-cards__card-intro">Day 2, Thursday 12 November</p>
              <p class="ds-cards__card-text">A human-centred approach to services is the focus of everything we do. More agencies are prioritising new ways to design for and with users, employees, and industry partners. </p>
            </div>
          </div>
          <div class="col-12 col-md-6 ds-cards__card">
            <div class="ds-cards__card-inner">
              <h3 class="ds-cards__card-title">Leadership and People</h3>
              <p class="ds-cards__card-intro">Day 3, Tuesday 17 November</p>
              <p class="ds-cards__card-text">Leadership and people play are essential to an organisation's digital transformation journey. Strong and clear digital leadership can transform the way we provide services to users. This includes being ethical and accountable when making workplace decisions, to making sure that the delivery of service meets the needs of a diverse group of users.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 ds-cards__card">
            <div class="ds-cards__card-inner">
              <h3 class="ds-cards__card-title">Technology and Data</h3>
              <p class="ds-cards__card-intro">Day 4, Thursday 19 November</p>
              <p class="ds-cards__card-text">Technology and data are central to improving the  experience for users and businesses when interacting with government. Making sense of data helps deliver better outcomes and services for the digital age.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
