<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="col-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/beth-noveck.jpg" alt="Beth Noveck" /> </div>
      </div>
      <div class="col-9">
        <h2 class="ds-cards__card-title">Professor Beth Simone Noveck</h2>
        <p class="ds-cards__card-intro">Director, The Governance Lab</p>
        <p class="ds-cards__card-text">Beth is an author, professor and White House advisor, the go-to expert on fusing innovation with leadership at the highest level. She is a pioneer in helping institutions evolve into more productive forms and specialises in employing digital technology to make government more effective at solving problems, delivering services and developing policies. She offers a picture of the revolution in governance unfolding around us, providing insight drawn from her experience working with governments, innovators, and everyday people.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
