<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__awards">
    <div class="row">
      <div class="col-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/elanor-huntington.jpg" alt="Elanor Huntington" /> </div>
      </div>
      <div class="col-9">
        <h2 class="ds-cards__card-title">Elanor Huntington</h2>
        <p class="ds-cards__card-intro">Dean of Engineering and Computer Science, Australian National University</p>
        <p class="ds-cards__card-text">Elanor is Dean of the College of Engineering and Computer Science at the Australian National University (ANU). Elanor is an established senior academic leader, with Board appointments to Innovation Science Australia, Significant Capital Ventures, Questacon and other government scientific advisory roles. As Dean, Elanor does more than contemplate the difference between distinctions and high distinctions. Her innovative thinking has recast engineering and computer science at the ANU with an unprecedented investment to reimagine the way we do things.</p>
      </div>
    </div>
  </div>
</div>
