<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/fiona-hathaway.jpg" alt="Fiona Hathaway" />
        </div>
      </div>
      <div class="col-12 col-sm-9">
        <h2 class="ds-cards__card-title">Fiona Hathaway</h2>
        <p class="ds-cards__card-intro">Managing Director, Global People Team,	Slalom</p>
        <p class="ds-cards__card-text">Fiona Hathaway is the Managing Director for the Global People Team at Slalom Consulting. Her international career spanned Asia, Europe, and the US, and in HR in IT companies like KPMG and PWC. In her global HR Director role at Microsoft, she drove several large-scale global business transformations. Her current challenges are working to drive global expansion into new markets while implementing modern work practices and ways of working which will support high paced growth through digitalisation and innovation.</p>
      </div>
    </div>
  </div>
</div>
