<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="col-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="jonathon-thorpe.jpg" alt="Jonathon Thorpe" />
        </div>
      </div>
      <div class="col-9">
        <h2 class="ds-cards__card-title">Jonathon Thorpe</h2>
        <p class="ds-cards__card-intro">Acting General Manager, Digital Identity, Digital Transformation Agency (DTA)</p>
        <p class="ds-cards__card-text">Jonathon Thorpe is the General Manager for Digital Identity and myGov at the DTA. He has extensive public sector experience working across large service delivery agencies with over 10 years in executive roles. He has delivered large-scale initiatives across digital marketing, social media, customer experience (CX), staff experience, and whole-of-government transformation domains. Jonathon is incredibly passionate about CX, agile leadership, and applying digital to radically improve how government services are delivered.</p>
      </div>
    </div>
  </div>
</div>
