<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/margo-stephen.jpg"
            alt="Margo Stephen" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h2 class="ds-cards__card-title">Margo Stephen</h2>
        <p class="ds-cards__card-intro">Head of Digital iD, Australia Post</p>
        <p class="ds-cards__card-text">Margo leads Australia Post's Digital iD business. She has is responsible
          for market growth, strategy and development. Digital iD is an award-winning,
          innovative, secure, smart-phone based way for individuals to easily prove
          who they are online and in-person, and for business and government to
          identify their customers. Margo has over 20 years' experience in consulting,
          strategy and delivery and has led numerous large-scale business and technology
          transformation programmes in Australia and the UK.</p>
      </div>
    </div>
  </div>
</div>
