<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__welcome">
    <div class="row">
      <div class="col-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/paul-house.jpg"
            alt="Paul House" /> </div>
      </div>
      <div class="col-9">
        <h2 class="ds-cards__card-title">Paul House</h2>
        <p class="ds-cards__card-intro">Ngambri-Ngunnawal custodian</p>
        <p class="ds-cards__card-text">Paul is a Ngambri-Ngunnawal custodian and has multiple local Aboriginal ancestries
          from the Canberra Region, however identifies as a descendant of Ngambri-Walgulu
          man Henry 'Black Harry' Williams and Ngunnawal-Wallaballoa man William
          Lane, also known as 'Billy the Bull', born in the centre of his ancestral
          country, at the old Canberra Hospital. His mother, Dr Aunty Matilda House,
          has a long-established connection to Canberra and is recognised across
          the region for her leadership and representation on Indigenous issues.</p>
      </div>
    </div>
  </div>
</div>
