<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/quek-sin-kwok.jpg"
            alt="Quek Sin Kwok" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Quek Sin Kwok</h3>
        <p class="ds-cards__card-intro">Senior Director, National Digital Identity Programme (NDI) Government Technology
          Agency (GovTech)</p>
        <p class="ds-cards__card-text">Quek Sin oversees the National Digital Identity Programme, one of Singapore's
          5 Strategic National Projects announced in 2017. The National Digital Identity
          will be a nationally-available way for an individual to prove their legal
          identity online. It is also a platform for the public and private sectors
          to build more digital services on a common and universal trust framework
          for identity, authentication, consent, authorisation, digital signatures,
          eKYC and data platforms. Quek Sin and his team look forward to collaborating
          closely with government agencies, industry partners and the international
          community to develop the necessary ecosystems which can enable online trust,
          transform user journeys and streamline operations. Before joining the Public
          Service in 2009, Quek Sin served in multiple consulting and management
          roles across various MNCs, including Accenture, Deloitte Consulting and
          HP.</p>
      </div>
    </div>
  </div>
</div>
