<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__keynote">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/rebecca-skinner.jpg" alt="Rebecca Skinner" />
        </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Rebecca Skinner</h3>
        <p class="ds-cards__card-intro">CEO,	Services Australia</p>
        <p class="ds-cards__card-text">Rebecca is CEO of Services Australia, which is entering a time of transformation. She has a proven track record of crisis management as the former Associate Secretary of Defence during Australia's bushfire disasters in 2019 and 2020 and brings this critical capability to Services Australia. She has a wealth of experience in the public sector, working in strategic, enterprise planning and risk management roles, including at the Department of Prime Minister and Cabinet, and as a senior executive in the Attorney-General's Department.</p>
      </div>
    </div>
  </div>
</div>
