<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__awards">
    <div class="row">
      <div class="col-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/ron-gauci.jpg" alt="Ron Gauci" />
        </div>
      </div>
      <div class="col-9">
        <h2 class="ds-cards__card-title">Ron Gauci</h2>
        <p class="ds-cards__card-intro">CEO, Australian Information Industry Association (AIIA)</p>
        <p class="ds-cards__card-text">Ron is the CEO of the AIIA. He is known as the 'go-to' executive and has a track record of delivering significant growth, business transformation, good governance, asset leverage, and quality leadership. He is recognised as an inspirational leader with a reputation for getting the best out of his teams and getting things done. Ron has an innate ability to guide organisations to realise their potential. He has held various leadership roles in both public and private organisations.</p>
      </div>
    </div>
  </div>
</div>
