<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__awards">
    <div class="row">
      <div class="col-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/stephanie-foster.jpg"
            alt="Stephanie Foster PSM" /> </div>
      </div>
      <div class="col-9">
        <h2 class="ds-cards__card-title">Stephanie Foster PSM</h2>
        <p class="ds-cards__card-intro">Deputy Secretary, Governance and APS Reform, PM&C</p>
        <p class="ds-cards__card-text">Stephanie joined the Department of the Prime Minister and Cabinet in December
          2017, bringing more than 30 years' public sector experience to the role.
          Stephanie's role sees her take a 'whole picture' outlook to deliver results
          on behalf of the Federal Government and Australian people. She is responsible
          for Cabinet and coordinating support for the Prime Minister, machinery
          of government, legal policy, and governance issues, as well as the Department's
          corporate management.</p>
      </div>
    </div>
  </div>
</div>
