<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__keynote">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/stuart-robert.jpg" alt="The Hon Stuart Robert" />
        </div>
      </div>
      <div class="col-12 col-sm-9">
        <h2 class="ds-cards__card-title">The Hon Stuart Robert MP</h2>
        <p class="ds-cards__card-intro">Minister for the National Disability Insurance Scheme and Minister for Government Services</p>
        <p class="ds-cards__card-text">Stuart is Minister for the National Disability Insurance Scheme and Minister for Government Services. He served in the Army for 12 years in Infantry and Intelligence Corps units including deploying operationally to Bougainville in 1998 as part of the Peace Monitoring Force. Whilst serving in the Army, he completed a Bachelor of Arts (Hons) and Masters' degrees in both Business Administration and Information Technology. After leaving the Army he and a colleague founded an IT services firm. He was elected Member for Fadden in 2007. He served as Shadow Defence Science, Technology and Personnel Minister, and became Assistant Minister for Defence in 2013. In 2015 he became Minister for Veterans' Affairs, Minister for Human Services and the Minister Assisting the Prime Minister for the Centenary of ANZAC.</p>
      </div>
    </div>
  </div>
</div>
