<!-- <div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/speaker-name.jpg" alt="Speaker name" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title"></h3>
        <p class="visually-hidden">Speaker type</p>
        <p class="ds-cards__card-intro"></p>
        <p class="ds-cards__card-text"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4></h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div> -->
