<!-- <div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="col-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/ernez-dhondy.jpg" alt="Ernez Dhondy" /> </div>
      </div>
      <div class="col-9">
        <h2 class="ds-cards__card-title"></h2>
        <p class="ds-cards__card-intro"></p>
        <p class="ds-cards__card-text"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div> -->
