<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="col-3">
        <div class="ds-program__image ds-program__image-single">
          <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/tom-burton.jpg" alt="Tom Burton" />
        </div>
      </div>
      <div class="col-9">
        <h2 class="ds-cards__card-title">Tom Burton</h2>
        <p class="ds-cards__card-intro">Government Editor, Australian Financial Review (AFR)</p>
        <p class="ds-cards__card-text">Tom has held senior editorial and publishing roles with The Mandarin, The Sydney Morning Herald and is Canberra bureau chief for the Australian Financial Review. He has worked in government, specialising in communications. He has won 3 Walkley awards. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h3>Service 4.0</h3>
          <p>Service 4.0 is a way for governments to reframe their large investments in service transformation into a strategy. This strategy can promote better services across Australian, robust ecosystem development and collaborative platform growth to drive new markets, investment, and jobs.</p>
          <p>The key insight is that if we design in an open and collaborative way, digital transformation of services can open enormous opportunity.</p>
        </div>
      </div>
    </div>
  </div>
</div>
