// Layouts for cards

.ds-cards {
  .ds-cards__card {
    .ds-cards__card-inner {
      height: 100%;
      padding: 0.5rem 1rem;
    }
    padding: 0.5rem;
  }
}

.ds-highlight .ds-cards {
  .ds-cards__card {
    .ds-cards__card-inner {
      background-color: transparentize($dark-blue, 0.1) !important;
      border-left: 0.25rem solid $yellow;
      p, h3, li, h4, a {
        color: $foreground-light !important;
      }
    }
  }
}

.ds-dark .ds-cards {
  .ds-cards__card {
    .ds-cards__card-inner {
      background-color: $yellow;
      p, h3, li, h4, a, img {
        color: $foreground-dark;
      }
      li {
        font-size: 90%;
      }
    }
    .ds-cards__card {
      border-left: 0.25rem solid $foreground-dark;
    }
  }
}

.ds-light .ds-cards {
  .ds-cards__card {
    .ds-cards__card-inner {
      background-color: $dark-blue;
      p, h3, li, h4, a, img {
        color: $foreground-light;
      }
      li {
        font-size: 90%;
      }
    }
  }
}

.ds-cards__card-text {
  font-size: 90%;
}
.ds-cards__card-intro {
  font-weight: bold;
}
.ds-cards__card-image {
  width:100%;
  margin-bottom: 1rem;
  height: auto;
  background-color: $foreground-light;
}
