// Layouts for the main content area.

@include background(green);
@include background(yellow);
@include background(grey);
@include background(white);
@include background(blue);

.ds-highlight {
  background: url('background-highlight.jpg') no-repeat center center;
  background-size: cover;
  @include breakpoint(md) {
    z-index: 0;
    margin-top: -11rem !important;
    padding-top: 9rem !important;
  }
  @include breakpoint(lg) {
    z-index: 0;
    margin-top: -13rem !important;
    padding-top: 11rem !important;
  }
}

.ds-app-download__icon {
  width: 100%;
  height: auto;
}
