// Footer styles

.ds-footer {
  .ds-footer__text {
    @media (min-width: 992px) {
      p, li {
        font-size: 90%;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          display: inline-block;
          padding-right: 1rem;
          &::after {
            content: '|';
            padding-left: 1rem;
          }
          &:last-of-type {
            padding-right: 0;
            &::after {
              content:'';
              padding-left: 0rem;
            }
          }
        }
      }
    }
  }
}
