// Layouts for the main content area.

@include background(green);
@include background(yellow);
@include background(grey);
@include background(white);
@include background(blue);

.ds-highlight {
  background: url('background-highlight.jpg') no-repeat center center;
  background-size: cover;
  @include breakpoint(md) {
    z-index: -1;
    margin-top: -11rem !important;
    padding-top: 9rem !important;
  }
  @include breakpoint(lg) {
    z-index: -1;
    margin-top: -13rem !important;
    padding-top: 11rem !important;
  }
}

.ds-app-download {
  font-weight: bold;
  display: table;
  width: 100%;
  vertical-align: middle;
  a {
    display: table-row;
  }
  .ds-icon-download_app {
    background: url('icon-download_app.png') no-repeat center center;
    width: 110px;
    height:110px;
    border-radius: 50%;
    display: table-cell;
  }
  .ds-app-download_text {
    display: table-cell;
    vertical-align: middle;
    padding: 1.5rem;
  }
}
