// Layouts for cards

.ds-cards {
  .ds-cards__card {
    .ds-cards__card-inner {
      height: 100%;
      padding: 0.5rem 1rem;
    }
    padding: 0.5rem;
    strong:first-child {
      display: block;
      font-weight: bold;
      font-family: "Montserrat","arial","sans-serif";
      font-size: 140%;
      margin-bottom: 1rem;
    }
  }
}

.ds-dark .ds-cards {
  .ds-cards__card {
    .ds-cards__card-inner {
      background-color: $yellow;
      p, h3 {
        color: $foreground-dark;
      }
    }
  }
}

.ds-light .ds-cards {
  .ds-cards__card {
    .ds-cards__card-inner {
      background-color: $dark-blue;
      p, h3 {
        color: $foreground-light;
      }
    }
  }
}

.ds-cards__card-text {
  font-size: 90%;
}
.ds-cards__card-intro {
  font-weight: bold;
}
.ds-cards__card-image {
  width:100%;
  margin-bottom: 1rem;
  height: auto;
  background-color: $foreground-light;
}
