// Styles for the accordions

div[id*="accordion"] {
  .ds-light & {
    button {
      color: $foreground-dark;
    }
  }
  .ds-dark & {
    .card {
      background-color: $dark-blue;
      border-color: $foreground-light;
    }
    .card-footer {
      border-top-color: $foreground-light;
    }
    button {
      color: $foreground-light;
    }
  }

}
