<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/alan-bell.jpg"
            alt="Alan Bell" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Alan Bell</h3>
        <p class="visually-hidden">Speaker</p>
        <p class="ds-cards__card-intro">Executive Director, Digital Identity at Department of Internal Affairs, New
          Zealand</p>
        <p class="ds-cards__card-text">Alan is an experienced strategist in  government digital in New
          Zealand, and a senior leader in the office of the Government Chief Digital
          Officer. His previous roles include leading the development of New Zealand's
          first Cyber Security Strategy, developing the government's cloud computing
          policy and policy lead for New Zealand's ICT Strategy. He is currently
          leading a NZ Digital Identity Transition Program. </p>
          <p><strong>Alan is a panel member for 'A global perspective on Digital Identity.'</strong></p>

      </div>
    </div>
  </div>
</div>
