<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/beth-noveck.jpg"
            alt="Beth Noveck" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Professor Beth Simone Noveck</h3>
        <p class="visually-hidden">Speaker</p>
        <p class="ds-cards__card-intro">Director, The Governance Lab</p>
        <p class="ds-cards__card-text">Beth is a graduate of Harvard University and Yale Law School and directs
          Governance Lab (GovLab) and its MacArthur Research Network on Opening Governance.
          She is a Professor in Technology, Culture, and Society and affiliated faculty
          at the Center for Urban Science and Progress at New York University's Tandon
          School of Engineering and a Fellow at NYU's Institute for Public Knowledge.
          She was New York state's first Chief Innovation Officer and German Chancellor
          Angela Merkel named her to her Digital Council in 2018. She is also Visiting
          Senior Faculty Fellow at the John J. Heldrich Center for Workforce Development
          at Rutgers University. Beth was the first United States Deputy Chief Technology
          Officer and director of the White House Open Government Initiative under
          President Obama. UK Prime Minister David Cameron appointed her senior advisor
          for Open Government. At GovLab, she directs better governance programs,
          including work the CrowdLaw, Smarter Crowdsourcing, and City Challenges
          programs. She also coaches 'public entrepreneurs', working with passionate
          individuals to take their public interest projects from idea to implementation.
          Beth is the author of Smart Citizens, Smarter State: The Technologies of
          Expertise and the Future of Governing and Wiki Government: How Technology
          Can Make Government Better, Democracy Stronger and Citizens More Powerful.
          She co-edited The State of Play: Law, Games and Virtual Worlds.</p>
      </div>
    </div>
  </div>
</div>
