<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/catherine-ball.png"
            alt="Catherine Ball" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Dr Catherine Ball</h3>
        <p class="visually-hidden">Speaker</p>
        <p class="ds-cards__card-intro">Scientific Futurist, World of Drones and Robotics/Australian National University</p>
        <p class="ds-cards__card-text">Dr Catherine Ball is an author, founder, and ethics advocate working across global projects where robotics and new technology meet environmental protection. A sought-after voice in industry, Catherine's biggest passion is on projects that have a humanitarian aspect, ranging from the use of RPAS for emergency response, to recording cultural heritage, and agricultural assessments. Catherine has travelled and worked globally on cutting edge projects that combine science, entrepreneurship, empowerment, education, and training.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Industry 5.0: Humankind over the horizon</h4>
          <p>Technological literacy is a human right. There are some game-changing innovations and exponential technologies racing towards us. We deserve the best that they bring; and we should know how to identify, interrogate, and challenge the assumptions and biases that may be inherent within them.  Learn more about how the future is more human, and how robotics, technology, AI, and data will fuel the next industrial revolution.</p>
        </div>
      </div>
    </div>
  </div>
</div>
