<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/ernez-dhondy.jpg" alt="Ernez Dhondy" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Ernez Dhondy</h3>
        <p class="visually-hidden">Speaker</p>
        <p class="ds-cards__card-intro">General Manager, Paper Giant</p>
        <p class="ds-cards__card-text">With 15 years of experience in the industry, Ernez has established himself
          as an experienced design leader. Over the course of his career, Ernez has
          integrated and established design practices in some of Australia's largest
          digital and full-service agencies. He has mentored emerging design talent
          and a new generation of design leaders. He has led large-scale digital
          strategy and transformation programs across the public, private and social
          sectors. He has a deep understanding of these sectors and is passionate
          about helping clients experiment with new ways of working to generate new
          types of value. Ernez has worked across continents and been an active contributor
          to the digital culture in Australia across his entire career.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Can we co-create our way out of this?</h4>
          <p>COVID-19 has changed the way government, communities, and organisations
            work. It is the greatest societal change we are likely to experience,
            and we need to equip our organisations to deal with it. The pandemic
            didn't come with a playbook, strategic framework, or case study to help
            us navigate our way through it.</p>
          <p>But we do have a starting point. I believe co-design is the most useful
            tool we have to help decision-makers through this crisis. It is a deeply
            human, community-based approach that can help government transform the
            way it delivers products and services to better meet the evolving needs
            of citizens. We can use co-design to leverage the thoughts, feelings,
            and intuitions at the coal face of this crisis. It can solve many of
            the issues the government currently faces and only through true participatory
            collaboration can we forge the best pathway out of this crisis.</p>
          <p>I have recently completed work on a co-design project aimed at understanding
            and reacting to the needs of Australians experiencing mental health and
            wellbeing difficulties during COVID-19. The project produced more than
            just products and service concepts. It allowed leaders to work in partnership
            with individuals to fundamentally shift the strategic direction of the
            organisation.</p>
        </div>
      </div>
    </div>
  </div>
</div>
