<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/fiona-hathaway.jpg"
            alt="Fiona Hathaway" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Fiona Hathaway</h3>
        <p class="visually-hidden">Speaker</p>
        <p class="ds-cards__card-intro">Managing Director, Global People Team, Slalom</p>
        <p class="ds-cards__card-text">Fiona Hathaway is the Managing Director for the Global People Team at Slalom
          Consulting. Her international career spanned Asia, Europe, and the US,
          and in HR in IT companies like KPMG and PWC. In her global HR Director
          role at Microsoft, she drove several large-scale global business transformations.
          Her current challenges are working to drive global expansion into new markets
          while implementing modern work practices and ways of working which will
          support high paced growth through digitalisation and innovation.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Culture eats strategy for breakfast</h4>
          <p>Culture must act as a strong foundation and enabler to any workplace transformation
            we are looking to accomplish, from digital transformation through to
            our move to new ways of working. When your strategy changes the quickest
            thing to derail you if you don't pay attention to it is your culture,
            your culture will be what defines and drives the collective actions of
            your workforce. The ability to evolve your culture could be the single
            indicator which is the best measure of your organisations future success.
            A successful cultural shift unlocks the potential for innovation, positive
            disruption of market models and brings new opportunities, but it requires
            agility and an ability for your workforce to be adaptive not reactive.</p>
          <p>The session will discuss in a practical way some learnings of how make
            a cultural change to come to life and how to live it in a way that adds
            incremental value or meaning to your organization and your customers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
