<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/jim-grubb.png"
            alt="Jim Grubb" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Jim Grubb</h3>
        <p class="visually-hidden">Speaker</p>
        <p class="ds-cards__card-intro">Chief Technology Evangelist, Cisco</p>
        <p class="ds-cards__card-text">As an expert in digitisation even before it was called digitisation, Jim
          has spent most of his career helping people understand how business and
          technology intersect. He is an exponential thinker and charismatic speaker
          currently working with most of Cisco's largest customers as they build
          their digital strategies. As former Cisco CEO John Chambers' long-time
          product-demo sidekick, he delivered over 400 keynote demonstrations at
          industry, technology, and CXO events, including Cisco Live, CES, HIMSS,
          NRF, Oracle World, Salesforce, DODIS, Cisco Partner Summit, and Cisco's
          World-wide Sales meetings. He has also presented to many Government and
          World Leaders, including Hillary Clinton, George W. Bush, Tony Blair, Madeleine
          Albright, Dimitry Medvedev, Al Gore, Viktor Chernomyrdin, Vicente Fox,
          Arnold Schwarzenegger, Jean Carnahan, and Jim Gilmore. When he's not explaining
          technology, he is an avid astrophotographer, musician, pilot, and boater.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Living in a digital world</h4>
          <p>Since the arrival of the vacuum tube, technology has significantly impacted
            how work gets done. Today's innovations continue to accelerate the pace
            of change. Simply, we are living in a digital world. </p>
          <p>Jim explores:</p>
          <ul>
            <li>how current technologies such as machine learning, artificial intelligence,
              robotics, virtual and augmented reality, voice and haptic user interfaces
              are making us more capable</li>
            <li>how the Internet-of-Things and blockchain are combining with new levels
              of connectivity, including WiFi6, 5G, and low-Earth orbit satellite
              systems to allow us to re-invent the way we work.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
