<div class="col-12 ds-cards__card">
  <div class="ds-cards__card-inner ds-program__plenary">
    <div class="row">
      <div class="d-none d-sm-table col-sm-3">
        <div class="ds-program__image ds-program__image-single"> <img src="https://digital-summit-2020.apps.y.cld.gov.au/img/stephen-scheeler.jpg"
            alt="Stephen Scheeler" /> </div>
      </div>
      <div class="col-12 col-sm-9">
        <h3 class="ds-cards__card-title">Stephen Scheeler</h3>
        <p class="visually-hidden">Speaker</p>
        <p class="ds-cards__card-intro">Founder, Digital CEO</p>
        <p class="ds-cards__card-text">The world has gone digital, but Australian business risk falling behind.
          As advisor, mentor and speaker, Stephen partners with Australia's business
          leaders to help them master digital strategy, culture, and leadership,
          and build innovative, global, billion-dollar businesses. He has spoken
          at TEDx, the Australian Governance Summit and AMP Amplify. He is a member
          of the Prime Minister's Knowledge Nation 100 top innovation leaders in
          Australia. His career spans over 25 years across consumer products, retail,
          ecommerce, automotive, financial services, media, and technology. He has
          served in senior executive roles at global leaders Westfield and Inchcape,
          and at Australian consumer products giant Lion. He guided Facebook's rise
          from Silicon Valley start-up to media and technology titan as CEO for Australia
          and New Zealand.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ds-program__synopsis">
          <h4>Leadership in a digital age: how today's leaders must change to succeed in a digital age</h4>
          <p>Until now, most business leaders have been able to build successful careers
            without deep digital chops. For decades, strong command or financial,
            operational, or technical disciplines were the bedrock of business leadership,
            and 'digital' was left to others in the organisation to understand and
            apply.</p>
          <p>In the future, digital experience and skills will mean the difference between
            success and failure in leading businesses of all sizes and sectors...and
            will be the prime determinant of weather you get that next job, or someone
            more digital beats you to it.</p>
          <p>Stephen shares his personal journey of digital leadership as Facebook
            CEO for Australia and New Zealand, and distils important and practical
            advice for business leaders of all stripes &ndash; from small business entrepreneurs
            to Fortune 500 CEOs and board directors &ndash; on how to 'digitise' their
            personal leadership style, rapidly gain impressive digital experience
            and insight, and remake themselves into versatile, high-impact, digital
            savvy leaders.</p>
        </div>
      </div>
    </div>
  </div>
</div>
